.advantages {
    order: 1;
    @media (min-width: $lg) {
        order: 0;
    }

    &__container {
        padding-top: $common-block-vertical-padding;
        @media (min-width: $lg) {
            cursor: default;
        }
    }

    &__track {
        background: $white;
        border: 1px solid $border-color;
        @media (min-width: $lg) {
            border: none;
        }
    }

    &__slide {
        @media (min-width: $lg) {
            user-select: auto;
            transform: translate3d(0px, 0px, 0px) !important;
        }
    }

    &__item {
        position: relative;
        padding: $parent-padding;
        padding-left: $svg-size + $parent-padding + 15px;
        padding-bottom: $parent-padding + 20px;
        svg {
            position: absolute;
            top: $parent-padding;
            left: 15px;
            width: $svg-size;
            height: $svg-size;
            fill: $blue;
        }
        @media (min-width: $lg) {
            padding: $parent-padding;
            svg {
                position: static;
            }
        }
        @media (min-width: $xl) {
            padding-left: $svg-size + $parent-padding + 5px;
            svg {
                position: absolute;
                width: $svg-size - 10px;
                height: $svg-size - 10px;
            }
        }
    }

    &__title {
        @include field-reset();
        padding-bottom: 5px;
        font-family: $font;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.17;
        color: $extra-text-color;
        @media (min-width: $lg) {
            font-size: 16px;
        }
        @media (min-width: $xl) {
            font-size: 14px;
        }
    }

    &__text {
        @include field-reset();
        font-family: $font;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.38;
        color: $communication-add-color;
        @media (min-width: $lg) {
            font-size: 12px;
            line-height: 1.17;
        }
    }

    &__bullets {
        bottom: 20px;
        @media (min-width: $lg) {
            display: none;
        }
    }
}