.goods-sliders {
    position: relative;
    padding: 0 7.5px;
    width: 100%;

    &::after {
        @media (min-width: $lg) {
            @include pseudo();
            top: 0;
            left: 50%;
            bottom: 0;
            width: 100vw;
            transform: translateX(-50%);
            background: $goods-sliders-background;
            z-index: -1;
        }
    }

    &__container {
        @media (min-width: $lg) {
            padding: 15px 0;
        }
    }

    &__col {
        padding-bottom: 15px;
    }

    &__col:last-child {
        padding-bottom: 0;
    }

    &__item {}
//блок заголовка
    &__type {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        height: 70px;
        background: $white;
        border: 1px solid $border-color;
        border-bottom: none;
        @media (min-width: $lg) {
            border: none;
        }
    }

    &__title {
        @include field-reset();
        font-family: $font;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.35;
        color: $extra-text-color;
        @media (min-width: $sm) {
            font-size: 20px;
        }
    }

    &__btn {
        min-width: 105px;
        font-size: 14px;
        font-weight: 400;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &__slider {
        .glide__slide {
            height: auto;
        }
    }
}