.main-catalog {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: $common-block-vertical-padding;

    &__col {
        width: 100%;
        margin-bottom: 15px;
    }

    &__item {
        position: relative;
        width: 100%;
        height: 130px;
        padding-top: 90px;
        border: 1px solid $border-color;
        border-radius: 5px;
        overflow: hidden;
        background: $white;
        transition: 0.3s box-shadow ease;
        img {
            position: absolute;
            top: 15px;
            left: 50%;
            transform: TranslateX(-50%);
            max-height: 60px;
        }
        @media (min-width: $md) {
            height: 270px;
            padding: 15px;
            img {
                top: auto;
                left: auto;
                bottom: 0;
                right: 30px;
                max-height: 210px;
                transform: none;
            }
        }
        @media (min-width: $lg) {
            border: none;
            img {}
        }
        @media (min-width: $xl) {
            img {
                max-width: 100%;
            }
        }
    }

    &__item::after {
        @include pseudo();
        bottom: 0;
        left: 0;
        width: 0;
        height: 5px;
        background: $blue;
        transition: 0.2s width ease;
    }

    &__item:hover::after {
        width: 100%;
        transition: 0.3s width ease;
    }

    &__item:hover {
        box-shadow: 0 0 15px 0 transparentize($main-color, 0.9);
    }

    &__title {
        @include field-reset();
        padding: 0 10px;
        position: relative;
        z-index: 1;
        font-family: $font;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.33;
        text-align: center;
        color: $main-color;
        span {
            display: none;
        }
        @media (min-width: $md) {
            padding: 0 0 15px 0;
            font-size: 24px;
            text-align: left;
            span {
                display: inline;
            }
        }
    }

    &__sub-titles {
        display: none;
        @media (min-width: $md) {
            @include order-reset();
            position: relative;
            z-index: 1;
            display: block;
            font-family: $font;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.33;
            color: $main-color;
            li {
                display: inline-block;
                vertical-align: top;
                margin-right: 25px;
                line-height: 2;
            }
        }
    }

    &__sections {
        display: none;
        @media (min-width: $md) {
            @include order-reset();
            position: relative;
            z-index: 1;
            display: block;
            font-family: $font;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.31;
            color: $communication-add-color;
            li {
                line-height: 2;
            }
        }
    }

    &__sections--2-col {
        @media (min-width: $md) {
            li {
                display: inline-block;
                vertical-align: top;
                padding-right: 10px;
                width: 50%;
                max-width: 350px;
            }
            li:nth-child(2n) {
                width: 40%;
            }
        }
    }
//чтобы картики вмещались на lg и не перекрывали текст
    &:nth-child(n+4) &__item {
        @media (min-width: $md) {
            img {
                max-height: 130px;
                right: 20px;
            }
        }
        @media (min-width: $lg) {
            img {
                max-height: 70px;
                right: 20px;
            }
        }
        @media (min-width: $xl) {
            img {
                right: 40px;
            }
        }
    }

    a {
        transition: 0.3s color ease;
    }

    a:hover {
        color: $blue;
    }
}