.compare {

    &__container {

    }

    &__header {
        margin-bottom: 20px;
        @media (min-width: $lg) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            margin-bottom: 30px;
            background: $white;
        }
    }

//switch блок
    &__switch {
        display: flex;
        margin-bottom: 20px;
        @media (min-width: $sm) {
            align-items: center;
        }
        @media (min-width: $lg) {
            margin-bottom: 0;
        }
    }

    &__switch-item {
        flex-shrink: 0;
        margin-right: 15px;
    }

    &__switch-link {
        @include field-reset();
        font-size: 16px;
        font-weight: 400;
        line-height: 1.38;
        color: $extra-text-color;
    }

    &__clear-btn {
        width: 100%;
        @media (min-width: $lg) {
            width: auto;
        }
    }

    &__body {
        background: $white;
        border: 1px solid $border-color;
        @media (min-width: $lg) {
            border: none;
        }
    }

//Блок слайдера
    &__slider-block {
        position: sticky;
        z-index: 1;
        top: $mobile-header-height;
        padding: 10px;
        padding-bottom: 0;
        background: $white;
        transition: 0.3s top ease;
        @media (min-width: $sm) {
            padding: 15px;
            padding-bottom: 0;
        }
        @media (min-width: $md) {
            top: $tablet-header-height;
        }
        @media (min-width: $lg) {
            top: $desktop-header-height;
        }
    }

    &__slider-block.sticked {
        box-shadow: 0 10px 11px -9px transparentize($black, 0.9);
    }

    &__slider-block.top-stick {
        top: 0;
        @media (min-width: $md) {
            top: 0;
        }
        @media (min-width: $lg) {
            top: $desktop-header-height;
        }
    }

    &__slider {
        @media (min-width: $lg) {
            position: relative;
        }
    }

    &__slider:hover {
        @media (min-width: $lg) {
            .compare__slider-arrows {
                opacity: 1;
            }
        }
    }

    &__slide {
        align-self: flex-start;
        height: auto;
    }

    &__slider-arrows {
        height: $common-item-height;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        transition: 0.3s ease;
        @media (min-width: $lg) {
            height: 0;
            opacity: 0;
            padding: 0;
            position: static;
        }
    }

    &__left-arrow,
    &__right-arrow {
        transform: none;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        display: block;
        opacity: 1;
        box-shadow: none;
        border-radius: none;
        @media (min-width: $lg) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__left-arrow {
        @media (min-width: $lg) {
            left: 0;
        }
    }

    &__right-arrow {
        @media (min-width: $lg) {
            right: 0;
        }
    }

    &__add-item {
        padding: 15px 7.5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - #{$common-item-height});
        border: 1px dashed $border-color;
    }

    &__add-item-link {
        display: block;
        span:first-child {
            position: relative;
            display: block;
            height: $slider-item-img-height-md;
            width: $slider-item-img-height-md;
            margin: 0 auto;
            margin-bottom: $slider-item-img-margin-bottom;
            font-size: 0;
        }
        span:first-child::after {
            @include pseudo();
            height: $slider-item-img-height-md;
            width: 2px;
            background: $border-color;
        }
        span:first-child::after {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        span:first-child::before {
            @include pseudo();
            width: $slider-item-img-height-md;
            height: 2px;
            background: $border-color;
        }
        span:first-child::before {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        span:last-child {
            display: block;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.31;
            text-align: center;
            color: $extra-text-color;
        }
    }

//Блок параметров
    &__parameter {
        padding: 10px;
        @media (min-width: $sm) {
            padding: 15px;
        }
        @media (min-width: $lg) {
            padding: 15px 22.5px;
        }
    }

    &__par-title {
        margin: 0 -10px;
        padding: 0 30px 25px 30px;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.33;
        color: $main-color;
        text-align: center;
        border-bottom: 1px solid $border-color;
        @media (min-width: $sm) {
            margin: 0 -15px;
        }
        @media (min-width: $lg) {
            margin: 0 -22.5px;
            text-align: left;
        }
    }
//пустая страница
    &__empty-container {
        padding: 100px $grid-padding;
        background: $white;
        text-align: center;
        border: 1px solid $border-color;
        @media (min-width: $lg) {
            border: none;
        }
    }

    &__title {
        @include field-reset();
        margin-bottom: 20px;
        text-align: center;
        color: $main-color;
    }

    &__text {
        @include field-reset();
        margin-bottom: 20px;
        text-align: center;
        vertical-align: middle;
        color: $communication-add-color;
        svg {
            fill: $blue;
            vertical-align: middle;
        }
    }
}