.parameter {

    &__container {
        padding: 25px 0 0 0;
    }

//Ряд свойства
    &__diff-block {
        margin: 0 -10px;
        padding: 0 10px;
        border-bottom: 1px solid $border-color;
        @media (min-width: $sm) {
            margin: 0 -15px;
            padding: 0 15px;
        }
        @media (min-width: $lg) {
            margin: 0 -22.5px;
            padding: 0 22.5px;
        }
    }

    &__diff-title {
        display: flex;
        align-items: center;
        padding: 10px 0 10px 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.13;
        color: $extra-text-color;
        cursor: pointer;
        span {
            display: block;
            margin-right: 5px;
        }
        svg {
            margin-top: 3px;
            fill: $blue;
            width: 10px;
            height: 5px;
            transition: 0.3s ease;
        }
    }

    &__diff-title.active {
        svg {
            transform: rotate(180deg);
        }
    }

    &__diff-row {
        overflow: hidden;
        max-height: 0;
        transition: 0.3s ease;
    }

    &__diff-row.active {
        max-height: none;
    }

    &__diff-row.reverse {
        flex-direction: row-reverse;
        justify-content: flex-end;
        @media (min-width: $lg) {
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    &__diff-col {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.13;
        color: $communication-add-color;
    }

    &__empty {
        display: block;
        text-align: center;
    }
}