.slider-item {
    height: 100%;

    &:hover {
        .slider-item__action {
            opacity: 1;
        }
    }

    &__container {
        position: relative;
        padding: 15px 0 $slider-item-padding-bottom 0;
        @media (min-width: $lg) {
            padding: 15px 7.5px;
            height: $slider-item-lg-container-height;
        }
    }

//Изображение
    &__img {
        margin-bottom: $slider-item-img-margin-bottom;
        height: $slider-itemmobile-img-height;
        text-align: center;
        img {
            max-width: 100%;
            max-height: 100%;
        }
        @media (min-width: $md) {
            height: $slider-item-img-height-md;
        }
    }

//Название
    &__name {
        margin-bottom: 3px;
        height: 40px;
        overflow: hidden;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.31;
        color: $extra-text-color;

        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

//Блок звезд/сообщений
    &__response {
        margin-bottom: 5px;
        @media (min-width: $sm) {
            display: flex;
            align-items: center;
        }
    }

    &__stars {
        margin-right: 7px;
    }

    &__rating-votes {
        display: none;
        @media (min-width: $sm) {
            display: inline-block;
        }
    }

    &__message {
        display: none;
        @media (min-width: $sm) {
            display: flex;
            align-items: center;
            color: $communication-add-color;
        }
    }

    &__message-img {
        margin-bottom: -7px;
        svg {
            width: 16px;
            height: 18px;
            margin-right: 5px;
            fill: $add-text-color;
        }
    }

//Блок цен
    &__price {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5px;
        @media (min-width: $sm) {
            flex-wrap: nowrap;
            align-items: center;
        }
    }

    &__old-price {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.31;
        color: $main-color;
        text-decoration: line-through;
        @media (min-width: $sm) {
            width: auto;
            margin-right: 7px;
        }
    }

    &__current-price {
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.33;
        color: $main-color;
        @media (min-width: $sm) {
            width: auto;
            font-size: 24px;
        }
    }

//Кнопка в корзину
    &__cart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        svg {
            width: 25px;
            height: 25px;
            fill: $main-color;
        }
    }

//Правый блок сравнения/удалить
    &__action {
        padding-right: 1px;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        opacity: 1;
        transition: 0.1s opacity ease-in;
        background: $white;
        @media (min-width: $lg) {
            opacity: 0;
            padding-right: 7.5px;
        }
    }

    &__action-item {
        position: relative;
        display: block;
        width: 25px;
        height: 25px;
        margin-bottom: 10px;
        padding-top: 4px;
        font-size: 0;
        text-align: center;
        border-radius: 3px;
        border: 1px solid $extra-text-color;
        background: $white;
        svg {
            fill: $extra-text-color;
            width: 15px;
            height: 15px;
        }
        @media (min-width: $md) {
            padding-top: 8px;
            width: $catalog-product-action-item;
            height: $catalog-product-action-item;
            svg {
                fill: $extra-text-color;
                width: 20px;
                height: 20px;
            }
        }
    }

    &__action-item:hover::after {
        content: attr(data-tips);
        position: absolute;
        display: block;
        z-index: 10;
        top: 50%;
        left: -$action-item-pseudo-width - 12px;
        transform: translateY(-50%);
        width: $action-item-pseudo-width;
        height: 25px;
        padding: 0 8px;
        background: $extra-text-color;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
        color: $white;
    }

    &__action-item:last-child {
        margin-bottom: 0;
    }

    &__action-item:hover {
        border-color: $blue;
        background: $blue;
        svg {
            fill: $white;
        }
    }

//Карточка - добавить товар
    &__add-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 7.5px;
        border: 1px dashed $border-color;
        height: 100%;
    }

    &__add-item-link {
        display: block;
        span:first-child {
            position: relative;
            display: block;
            height: $slider-itemmobile-img-height;
            width: $slider-itemmobile-img-height;
            margin: 0 auto;
            margin-bottom: $slider-item-img-margin-bottom;
            font-size: 0;
            @media (min-width: $sm) {
                width: $slider-item-img-height-md;
                height: $slider-item-img-height-md;
            }
        }
        span:first-child::after {
            @include pseudo();
            height: $slider-itemmobile-img-height;
            width: 2px;
            background: $border-color;
            @media (min-width: $sm) {
                height: $slider-item-img-height-md;
            }
        }
        span:first-child::after {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        span:first-child::before {
            @include pseudo();
            width: $slider-itemmobile-img-height;
            height: 2px;
            background: $border-color;
            @media (min-width: $sm) {
                width: $slider-item-img-height-md;
            }
        }
        span:first-child::before {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        span:last-child {
            display: block;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.31;
            text-align: center;
            color: $extra-text-color;
        }
    }
}