.page-404 {
    margin-bottom: 30px;

    &__container {
        padding: $grid-padding;
        background: $white;
        border: 1px solid $border-color;
        @media (min-width: $md) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
            border: none;
        }
    }

    &__img {
        text-align: center;
        background: $white;
        img {}
    }

    &__body {
        text-align: center;
        @media (min-width: $md) {
            max-width: 400px;
            margin-left: -30px;
            text-align: left;
        }
    }

    &__number {
        @include field-reset();
        text-align: center;
        font-size: 100px;
        color: $blue;
        @media (min-width: $md) {
            text-align: left;
        }
    }

    &__title {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.33;
        color: $main-color;
        @media (min-width: $md) {
            text-align: left;
        }
    }

    &__text {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.38;
        color: $communication-add-color;
        @media (min-width: $md) {
            text-align: left;
        }
    }

    &__btn {}
}