.sticky-nav {
    margin-bottom: 20px;
    font-family: $font;

    &__wrapper {
        background: $white;
        line-height: $common-item-height;
        border-radius: 5px;
        border: 1px solid $communication-add-color;
        overflow: hidden;
        @media (min-width: $lg) {
            position: sticky;
            top: $desktop-header-height + 15px;
            max-height: none;
            border-radius: 0;
            border: none;
        }
    }

    &:hover {
        border-color: $blue;
        cursor: pointer;
        @media (min-width: $lg) {
            cursor: auto;
        }
    }

//Сортировка по свойствам
    &__container {
        font-size: 16px;
        line-height: 1.25;
        color: $main-color;
        @media (min-width: $lg) {
            font-size: $sort-desktop-font-size;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $common-item-height;
        padding: 0 $grid-padding;
        line-height: $common-item-height;
        font-size: 16px;
        font-weight: 600;
        color: $main-color;
        transition: 0.3s color ease;
        svg {
            fill: $extra-text-color;
            transition: 0.3s ease;
        }
        @media (min-width: $lg) {
            display: none;
        }
    }

    &__title.active-btn {
        svg {
            transform: rotate(180deg);
        }
    }

    &__title:hover {
        color: $blue;
        svg {
            fill: $blue;
        }
    }

    &__title.active-btn:hover {
        color: $main-color;
        svg {
            fill: $extra-text-color;
        }
    }

    &__list {
        @include order-reset();
        max-height: 0;
        transition: 0.3s ease;
        @media (min-width: $lg) {
            max-height: none;
        }
    }

    &__item {
        position: relative;
        height: $common-item-height;
        line-height: $common-item-height;
        padding: 0 $grid-padding;
        a {
            color: $communication-add-color;
            background: transparent;
            cursor: pointer;
            transition: 0.3s ease;
        }
        @media (min-width: $lg) {
            padding: 0;
            height: auto;
            line-height: 1.15;
            a {
                display: block;
                padding: 15px 10px 15px 20px;
                font-size: 16px;
                font-weight: 600;
                line-height: 1.33;
                color: $main-color;
                border-bottom: 1px solid $border-color;
                border-left: 2px solid transparent;
            }
            .active-btn {
                border-left: 2px solid $blue;
            }
        }
        @media (min-width: $xl) {
            a {
                font-size: 18px;
            }
        }
    }

    &__item:hover {
        a {
            color: $blue;
        }
        @media (min-width: $lg) {
            a {
                border-left: 2px solid $blue;
            }
        }
    }

    &__item:last-child {
        margin-left: 0;
        @media (min-width: $lg) {
            a {
                border-bottom: 1px solid transparent;
            }
        }
    }
}