.add-sort {
    font-family: $font;

    &__list {
        @include order-reset();
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: 15px;
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 400;
        color: $black;
        button {
            display: block;
            margin: 0;
            padding: 0 7px;
            border: 1px solid transparent;
            border-radius: 3px;
            background: $white;
            outline: none;
            height: $add-sort-item-height;
            cursor: pointer;
            transition: 0.3s ease;

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .active {
            background: $blue;
            color: $white;
            cursor: auto;
        }
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__item:hover {
        button {
            border-color: $blue;
        }
    }
}