.brands-list {
    @include order-reset();
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-family: $font;

    &__col {
        margin-bottom: 15px;
    }

    &__col:last-child {
        margin-bottom: 0;
    }

    &__item {
        position: relative;
        padding: $grid-padding;
        outline: 1px solid $border-color;
        background: $white;
        transition: 0.3s ease;
        @media (min-width: $lg) {
            display: flex;
            flex-direction: column;
            outline: none;
            height: 450px;
            padding: $grid-padding + 5px;
        }
    }

    &__item::after {
        @include pseudo();
        bottom: 0;
        left: 0;
        width: 0;
        height: 5px;
        background: $blue;
        transition: 0.2s width ease;
    }

    &__item:hover::after {
        width: 100%;
        transition: 0.3s width ease;
    }

    &__item:hover {
        box-shadow: 0 0 15px 0 transparentize($main-color, 0.9);
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $grid-padding;
        height: 110px;
        padding: 0 30px;
        img {
            max-height: 100px;
        }
        @media (min-width: $md) {
            padding: 0 80px;
        }
        @media (min-width: $lg) {
            padding: 0 50px;
        }
    }

    &__title {
        display: block;
        @include field-reset();
        font-size: 20px;
        font-weight: 700;
        color: $extra-text-color;
        height: 30px;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        transition: 0.3s ease color;
        &:hover {
            color: $blue;
        }
        @media (min-width: $lg) {
            display: inline;
        }
    }

    &__text {
        display: none;
        @include field-reset();
        max-height: 255px;
        overflow: hidden;
        @media (min-width: $lg) {
            display: block;
            font-size: 16px;
            font-weight: 400;
            color: $communication-add-color;
            line-height: 1.35;

            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 12;
            -webkit-box-orient: vertical;
        }
    }
}