.catalog-section {
    padding-bottom: 30px;
    font-family: $font;

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
    }
//текстовый блок
    &__text {
        order: 1;
        padding: 20px 15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.38;
        color: $communication-add-color;
        border: 1px solid $border-color;
        background: $white;

        @media (min-width: $lg) {
            order: 0;
            display: flex;
            padding: 30px;
            margin-bottom: 15px;
            border: none;
        }
    }

    &__collapsed-text {
        @include field-reset();
        max-height: 90px;
        margin-bottom: 10px;
        overflow: hidden;
        transition: 0.3s ease;
        @media (min-width: $lg) {
            flex-grow: 1;
            padding-right: 10px;
            margin-bottom: 0;
        }
    }

    &__text-tog {
        @include field-reset();
        display: block;
        width: 100%;
        background: transparent;
        transition: 0.3s ease;
        svg {
            display: none;
        }
        span:nth-child(2) {
            display: none;
        }
        @media (min-width: $lg) {
            position: relative;
            flex-shrink: 0;
            width: 25px;
            border-radius: 0;
            border: none;
            font-size: 0;
            svg {
                position: absolute;
                top: 5px;
                right: 0;
                display: inline;
                fill: $blue;
                transition: 0.3s ease;
            }
            span {
                display: none;
            }
        }
    }

    &__text-tog.active-btn {
        span:first-child {
            display: none;
        }
        span:nth-child(2) {
            display: inline;
        }
    }

    &__text-tog:hover {
        border-color: $blue;
        color: $blue;
    }

    &__mix-calc {
        margin-bottom: 20px;
    }

    &__calc-btn {
        display: none;
        @media (min-width: $lg) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 30px;
            border: none;
            outline: none;
            background: $white;
            cursor: pointer;
            span {
                @include field-reset();
                padding-right: 20px;
                font-size: 28px;
                font-weight: 400;
            }
            svg {
                flex-shrink: 0;
                width: 56px;
                height: 65px;
                fill: $green;
            }
        }
    }

    &__mix-calc-mob {
        display: block;
        margin-bottom: 20px;
        @media (min-width: $lg) {
            display: none;
        }
    }

    &__calc-btn-mob {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 30px;
        border: 1px solid $border-color;
        outline: none;
        background: $white;
        cursor: pointer;
        span {
            @include field-reset();
            padding-right: 20px;
            font-size: 24px;
            font-weight: 400;
        }
        svg {
            flex-shrink: 0;
            width: 56px;
            height: 65px;
            fill: $green;
        }
    }

    &__mix-calc {
        display: none;
        @media (min-width: $lg) {
            display: block;
            margin-bottom: 20px;
        }
    }

    &__calc-btn {
        @media (min-width: $lg) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 30px;
            border: none;
            outline: none;
            background: $white;
            cursor: pointer;
            span {
                @include field-reset();
                padding-right: 20px;
                font-size: 28px;
                font-weight: 400;
            }
            svg {
                flex-shrink: 0;
                width: 56px;
                height: 65px;
                fill: $green;
            }
        }
    }
//анимация на стрелку
    .active-btn {
        svg {
            transform: rotate(180deg);
        }
    }
//Список товаров
    &__products {

    }

    &__products-list {
        @include order-reset();
        margin-bottom: 20px;
        @media (min-width: $lg) {
            margin-bottom: 35px;
        }
    }

    &__products-item {
        margin-bottom: 15px;
        @media (min-width: $lg) {
            margin-bottom: 0;
        }
    }

    &__products-item:last-child {
        margin-bottom: 0;
    }
//Блок пагинации
    &__pagination {
        width: 100%;
        margin-bottom: 20px;
        @media (min-width: $lg) {
            margin-bottom: 0;
        }
    }

    &__btn {
        width: 100%;
        margin-bottom: 20px;
        @media (min-width: $lg) {
            margin-bottom: 35px;
        }
    }
}