.check-box {
    @include order-reset();
    padding-top: 10px;
    font-family: $font;

    &__item {

    }

    &__item:last-child {
        .check-box__label {
            margin-bottom: 0;
        }
    }

    &__label {
        display: flex;
        align-items: flex-start;
        min-height: $check-box-item-height;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.31;
        color: $main-color;
        transition: 0.3s color ease;
        cursor: pointer;

        input[type="checkbox"] {
            display: none;
        }
        input[type="checkbox"]:checked + span {
            border-color: $blue;
            svg {
                fill: $blue;
            }
        }
        span {
            position: relative;
            flex-shrink: 0;
            margin-right: 10px;
            width: $check-element-height;
            height: $check-element-height;
            border: 1px solid $border-color;
            border-radius: 5px;
            transition: 0.3s border-color ease;
        }
        svg {
            position: absolute;
            top: -1px;
            left: -1px;
            width: $check-element-height;
            height: $check-element-height;
            fill: transparent;
            transition: 0.3s fill ease;
        }
    }

    &__label:hover {
        color: $blue;
    }

    &__text {
        @include field-reset();
        padding-top: 2px;
    }
}