.filters {
    padding-bottom: 20px;
    font-family: $font;
    background: $transparent;
    @media (min-width: $lg) {
        background: $white;
    }

//Стиль кнопки до нажатия на кнопку и открытия оверлея
    &__tog-modal {
        position: relative;
        height: $common-item-height;
        padding: 0 $grid-padding;

        background: $white;
        text-align: left;
        font-size: 16px;
        font-weight: 600;
        line-height: $common-item-height;
        color: $main-color;
        transition: 0.3s ease;
        @media (min-width: $lg) {
            display: none;
        }
    }

    &__tog-modal:hover {
        color: $blue;
        .filters__open-modal {
            border-color: $blue;
        }
        svg {
            fill: $blue;
        }
    }

    &__open-modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        font-size: 0;
        outline: none;
        border-radius: 5px;
        background: transparent;
        border: 1px solid $border-color;
        cursor: pointer;
        transition: 0.3s border-color ease;
        svg.filters__svg-open {
            position: absolute;
            top: 50%;
            right: $grid-padding;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            fill: $extra-text-color;
            transition: 0.3s ease;
        }
        svg.filters__svg-close {
            display: none;
            transition: 0.3s ease;
        }
    }

    &__open-modal:hover {
        svg.filters__svg-open {
            fill: $blue;
        }
    }
//тело формы
    &__container {
        display: none;
        @media (min-width: $lg) {
            display: block;
        }
    }

    &__panel {
        @include field-reset();
        padding-bottom: 15px;
        border: none;
        border-bottom: 1px solid $border-color;
    }

    &__title {
        position: relative;
        min-height: $filter-title-height;
        width: 100%;
        padding: 0 $grid-padding;
        padding-top: $filter-title-padding-top;
        padding-bottom: 10px;
        padding-right: #{$grid-padding + $filter-title-svg-width + 5px};
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        text-align: left;
        color: $main-color;
        cursor: pointer;
        transition: 0.3s margin-bottom ease;
        svg {
            position: absolute;
            top: $filter-title-padding-top + 8px;
            right: $grid-padding;
            width: $filter-title-svg-width;
            height: 8px;
            fill: $blue;
            transform: rotate(0deg);
            transition: 0.3s ease;
        }
    }
//анимация на стрелку
    &__title.active {
        svg {
            transform: rotate(180deg);
        }
    }
//--------
    &__content {
        padding: 0 $grid-padding;
        overflow: hidden;
        max-height: 0;
        transition: 0.3s ease;
        @media (min-width: $sm) {
            max-width: 70%;
        }
        @media (min-width: $md) {
            max-width: 60%;
        }
        @media (min-width: $lg) {
            max-width: none;
        }
    }

    &__content.active {
        max-height: none;
    }

    &__show-all {
        display: block;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.30;
        text-align: center;
        color: $main-color;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        @include transition();
    }


    &__show-all:hover {
        color: $blue;
    }

    &__text-input {
        width: 100%;
        height: $common-item-height;
        margin: 10px 0;
        padding: 0 $grid-padding;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.30;
        color: $main-color;
        line-height: $common-item-height;
        border-radius: 5px;
        border: 1px solid $border-color;
        outline: none;
        @include transition(border-color);
    }

    &__text-input:hover,
    &__text-input:focus {
        border-color: $blue;
    }

    &__buttons {
        padding: 20px $grid-padding 0 $grid-padding;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.31;
        color: $main-color;
    }

    &__value {
        @include field-reset();
        padding-bottom: 20px;
        text-align: center;
    }

    &__btn {
        display: block;
        width: 100%;
        height: $common-item-height;
        margin-bottom: 15px;
    }

    &__btn:last-child {
        margin-bottom: 0;
    }

    &__btn--reset {
        border-color: $add-red;
        color: $add-red;
    }

    &__btn--reset:hover {
        background: $add-red;
    }
//Стиль кнопки при нажатии и открытии оверлея на мобилке
    &.opened {
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;
        background: $white;
        span {
            //transition: all 0s ease 0s;
        }
        @media (min-width: $lg) {
            position: static;
        }
        .filters__tog-modal {
            position: fixed;
            z-index: 1000;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: $active-tog-modal-height;
            line-height: 1.15;
            padding-bottom: 0;
            border: none;
            border-bottom: 1px solid $border-color;
            border-radius: 0;
            background: $blue;
            outline: none;
            font-size: 18px;
            overflow: auto;
            color: $white;
        }
        .filters__tog-modal:hover {
            color: $white;
            svg {
                fill: $white;
            }
        }
        .filters__open-modal {
            display: block;
            margin-bottom: 0;
            padding: 0;
            position: relative;
            z-index: 100;
            left: auto;
            width: $filter-svg-close-size * 3;
            height: 50px;
            font-size: 0;
            border: none;
            svg.filters__svg-open {
                display: none;
            }
            svg.filters__svg-close {
                display: block;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: $filter-svg-close-size;
                height: $filter-svg-close-size;
                fill: $white;
            }
        }
        .filters__container {
            display: block;
            margin-top: $active-tog-modal-height;
            @media (min-width: $lg) {
                margin-top: 0;
            }
        }
    }
}