.range-filter {
    display: flex;
    flex-direction: column-reverse;
    max-width: $item-in-panel-filter-max-width;
    font-family: $font;
    padding: 0 $grid-padding;
//блок инпутов
    &__inputs {
        display: flex;

        input {
            flex-grow: 1;
            width: 35%;
            padding: 0 $grid-padding;
            height: $common-item-height;
            line-height: $common-item-height;
            border-radius: 5px;
            border: 1px solid $border-color;
            margin-right: 15px;
            color: $extra-text-color;
            outline: none;
        }
        input:hover,
        input:focus {
            border-color: $blue;
        }
    }

    &__input-min {

    }

    &__input-max {

    }

    &__unit {
        font-size: 16px;
        font-weight: 400;
        color: $extra-text-color;
        line-height: $common-item-height;
    }
//блок хэндлеров
    &__handles {
        position: relative;
        margin: 20px 0 30px 0;
    }

    &__bar {
        height: $bar-height;
        background: $border-color;
    }

    &__left-handle,
    &__right-handle {
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        height: $range-filter-hadles-height;
        width: $range-filter-hadles-height;
        border-radius: 50%;
        background: $blue;
        cursor: pointer;
    }

    &__left-handle {
        left: 0;
    }

    &__right-handle {
        left: 50%;
    }

    &__progress-bar {
        position: absolute;
        height: $bar-height;
        top: 0;
        left: 0;
        width: 50%;
        background: $blue;
    }
}