.range-filter {
    display: flex;
    flex-direction: column;
    font-family: $font;

//блок инпутов
    &__inputs {
        display: flex;
        input[type="text"] {
            flex-grow: 1;
            width: 35%;
            padding: 0 $grid-padding;
            height: $common-item-height;
            line-height: $common-item-height;
            border-radius: 5px;
            border: 1px solid $border-color;
            margin-right: 15px;
            color: $extra-text-color;
            outline: none;
            box-shadow: none;
            transition: 0.3s border-color ease;
        }
        input[type="text"]:hover,
        input[type="text"]:focus {
            border-color: $blue;
        }
    }

    &__unit {
        font-size: 16px;
        font-weight: 400;
        color: $extra-text-color;
        line-height: $common-item-height;
    }
}