.sort {
    margin-bottom: 20px;
    font-family: $font;
    background: $white;
    max-height: $common-item-height;
    line-height: $common-item-height;
    border-radius: 5px;
    border: 1px solid $communication-add-color;
    overflow: hidden;
    transition: 0.3s border-color ease, 0.3s max-height ease;
    @media (min-width: $lg) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-height: none;
        padding: 20px;
        border-radius: 0;
        border: none;
    }

    &--opened {
        max-height: none;
    }

    &:hover {
        border-color: $blue;
        cursor: pointer;
        @media (min-width: $lg) {
            cursor: auto;
        }
    }

//Сортировка по свойствам
    &__by-property {
        font-size: 16px;
        line-height: 1.25;
        color: $main-color;
        @media (min-width: $lg) {
            display: flex;
            align-items: center;
            font-size: $sort-desktop-font-size;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $common-item-height;
        padding: 0 $grid-padding;
        line-height: $common-item-height;
        font-size: 16px;
        font-weight: 600;
        color: $main-color;
        transition: 0.3s color ease;
        svg {
            fill: $extra-text-color;
            transition: 0.3s ease;
        }
        @media (min-width: $lg) {
            height: auto;
            padding-left: 0;
            padding-right: 15px;
            font-size: $sort-desktop-font-size;
            line-height: 1.25;
            pointer-events: none;
            svg {
                display: none;
            }
        }
    }

    &__title:hover {
        color: $blue;
        svg {
            fill: $blue;
        }
        @media (min-width: $lg) {
            color: $main-color;
            cursor: auto;
        }
    }

    &__title--opened:hover {
        color: $main-color;
        svg {
            fill: $extra-text-color;
        }
    }

    &__list {
        @include order-reset();
        @media (min-width: $lg) {
            display: flex;
            align-items: center;
        }
    }

    &__item {
        position: relative;
        height: $common-item-height;
        line-height: $common-item-height;
        padding: 0 $grid-padding;
        button {
            padding: 0;
            border: none;
            color: $communication-add-color;
            background: transparent;
            outline: none;
            cursor: pointer;
            transition: 0.3s color ease;
        }
        svg {
            display: none;
        }
        @media (min-width: $lg) {
            height: auto;
            line-height: 1.15;
            padding-left: 0;
            padding-right: 11px;
            margin-right: 15px;
            button {

            }
            svg {
                display: inline;
                position: absolute;
                top: $sort-desktop-font-size / 2;
                right: 0;
                fill: $communication-add-color;
                transition: 0.3s ease;
            }
        }
    }

    &__item.active {
        button {
            color: $blue;
        }
        @media (min-width: $lg) {
            svg {
                fill: $blue;
            }
        }
    }

    &__item.up {
        svg {
            transform: rotate(180deg);
        }
    }

    &__item.down {
        svg {
            transform: rotate(0deg);
        }
    }

    &__item:hover {
        button {
            color: $blue;
        }
        svg {
            fill: $blue;
        }
    }

    &__item:last-child {
        margin-right: 0;
    }
//Сортировка по отображению карточек
    &__by-view {
        display: none;
        @media (min-width: $lg) {
            display: flex;
            align-items: center;
        }
    }

    &__view-list {
        @include order-reset();
        @media (min-width: $lg) {
            display: flex;
            align-items: center;
        }
    }

    &__view-item {
        width: 30px;
        height: 30px;
        margin-right: 5px;
        border-radius: 50%;
        font-size: 0;
        line-height: 30px;
        border: 1px solid $border-color;
        overflow: hidden;
        transition: 0.3s border-color ease;
        button {
            display: block;
            height: 100%;
            width: 100%;
            border: none;
            color: $communication-add-color;
            text-align: center;
            background: transparent;
            cursor: pointer;
            font-size: 0;
            outline: none;
            transition: 0.3s background ease;
        }
        svg {
            fill: $communication-add-color;
            transition: 0.3s fill ease;
        }
    }

    &__view-item:hover {
        border-color: transparent;
        button {
            background: $blue;
        }
        svg {
            fill: $white;
        }
    }

    .active-btn {
        background: $blue;
        cursor: default;
        pointer-events: none;
        svg {
            fill: $white;
        }
    }

    &__title.active-btn {
        pointer-events: auto;
        cursor: pointer;
        background: transparent;
        svg {
            fill: $main-color;
            transform: rotate(180deg);
        }
    }

    &__title.active-btn:hover {
        color: inherit;
    }

    &__view-item:last-child {
        margin-right: 0;
    }
}