@font-face {
  font-family: "Segoe UI";
  src: local("PTSans-Caption"),
       url("../fonts/SegoeUI-Regular.woff2") format("woff2"),
       url("../fonts/SegoeUI-Regular.woff") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: local("PTSans-Caption"),
       url("../fonts/SegoeUI-SemiBold.woff2") format("woff2"),
       url("../fonts/SegoeUI-SemiBold.woff") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: local("PTSans-Caption"),
       url("../fonts/SegoeUI-Bold.woff2") format("woff2"),
       url("../fonts/SegoeUI-Bold.woff") format("woff2");
  font-weight: 700;
  font-display: swap;
}