@mixin container($miw: 320px, $maw: 1395px, $pd-right: 15px, $pd-left: 15px) {
  min-width: $miw;
  max-width: $maw;
  padding-right: $pd-right;
  padding-left: $pd-left;
}

@mixin field-reset() {
  margin: 0;
  padding: 0;
}

@mixin order-reset() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin pseudo() {
  display: block;
  content: "";
  position: absolute;
}

@mixin full-absolute() {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
//-------------------------------------------default placeholder
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
//-------------------------------------------hover
@mixin placeholder-h {
  &:hover::-webkit-input-placeholder {
    @content;
  }
  &:hover:-moz-placeholder {
    @content;
  }
  &:hover::-moz-placeholder {
    @content;
  }
  &:hover:-ms-input-placeholder {
    @content;
  }
}
//-------------------------------------------focus
@mixin placeholder-f {
  &:focus::-webkit-input-placeholder {
    @content;
  }
  &:focus:-moz-placeholder {
    @content;
  }
  &:focus::-moz-placeholder {
    @content;
  }
  &:focus:-ms-input-placeholder {
    @content;
  }
}

@mixin nav-title-block() {
    min-height: $mobile-header-nav-title-height;
    padding: 0 $grid-padding;
    background: $bg-color;
    border-bottom: 1px solid $border-color;
}