// Grid
$sm: 576px;
$md: 768px;
$lg: 1024px;
$tp: 1220px;
$xl: 1395px;

// Fonts
$font: "Segoe UI", sans-serif;

// Colors
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$green: #02b744;
$yellow: #ffcd44;
$bg-color: #fafafa;
$transparent: transparent;
$main-color: #2c2c2c;
$blue: #008aff;
$dark-blue: #057ce1;
$border-color: #dfdfdf;
$add-text-color: #bcbcbc;
$extra-text-color: #636363;
$communication-add-color: #a1a1a1;
$whatsapp-color: #1bd741;
$telega-color: #31a5d4;
$goods-sliders-background: #f3f3f3;

// Other
$grid-padding: 15px;
$common-block-vertical-padding: 15px;
$gradient-breakpoint-mobile: 60px;
$gradient-breakpoint-mobile-end: 40px;
$gradient-breakpoint-desktop: 75px;
$gradient-breakpoint-desktop-end: 75px;
$mobile-header-height: 100px;
$desktop-header-height: 150px;
$mobile-header-nav-title-height: 65px;
$mobile-header-nav-item-height: 40px;
$btn-height: 30px;
$mobile-communication-item-height: 40px;
$mobile-search-item-height: 40px;
$sale-img-max-height: 506px;
$item-container-padding-bottom: 60px;
$item-brands-height-desktop: 110px;
$product-nav-container-padding-bottom: $item-brands-height-desktop + 20px;
$common-item-height: 40px;

//Slider--top
$bullets-bottom-position: 20px;

//Slider--advantages
$parent-padding: 20px;
$svg-size: 60px;

//Products
$action-item-pseudo-width: 90px;