// Grid
$sm: 576px;
$md: 768px;
$lg: 1024px;
$tp: 1220px;
$xl: 1395px;

// Container-width
$min-container: 320px;
$max-container: 1365px;

// Fonts
$font: "Segoe UI", sans-serif;

// Colors
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$add-red: #ff5858;
$green: #02b744;
$yellow: #ffcd44;
$bg-color: #fafafa;
$transparent: transparent;
$main-color: #2c2c2c;
$blue: #008aff;
$dark-blue: #057ce1;
$vk-color: #4a76a8;
$fb-color: #3b5998;
$tw-color: #1f9be8;
$od-color: #f17d02;
$mail-color: #005ff9;
$vk-date: #939393;
$delivery-active-btn: #fff5db;
$vk-btn-color: #dfe6ed;
$border-color: #dfdfdf;
$add-text-color: #bcbcbc;
$add-grey: #f4f4f4;
$extra-text-color: #636363;
$communication-add-color: #a1a1a1;
$whatsapp-color: #1bd741;
$telega-color: #31a5d4;
$goods-sliders-background: #f3f3f3;
$add-btn-color: #5e6b6b;

// Other
$grid-padding: 15px;
$half-grid-padding: $grid-padding / 2;
$two-grid-padding: $grid-padding * 2;
$common-block-vertical-padding: 15px;
$gradient-breakpoint-mobile: 60px;
$gradient-breakpoint-mobile-end: 40px;
$gradient-breakpoint-desktop: 75px;
$gradient-breakpoint-desktop-end: 75px;
$mobile-header-height: 100px;
$tablet-header-height: 115px;
$desktop-header-height: 150px;
$mobile-header-nav-title-height: 65px;
$mobile-header-nav-item-height: 40px;
$btn-height: 30px;
$mobile-communication-item-height: 40px;
$mobile-search-item-height: 40px;
$sale-img-max-height: 506px;
$item-container-padding-bottom: 60px;
$item-brands-height-desktop: 110px;
$product-nav-container-padding-bottom: $item-brands-height-desktop + 20px;
$common-item-height: 40px;
$add-btn-height: 40px;
$footer-nav-item-height: 30px;
$footer-nav-tog-mobile-width: 70px;
$main-margin-bottom: 30px;

//Header red icons
$header-comapre-and-favorite-icon-height: 18px;
$header-comapre-and-favorite-top: -7px;
$header-comapre-and-favorite-left: 13px;

//Join red icons
$join-comapre-and-favorite-icon-height: 22px;

//join-by-social
$join-by-social-height: 52px;

//Slider--top
$bullets-bottom-position: 20px;

//Slider--advantages
$parent-padding: 20px;
$svg-size: 60px;

//Products
$action-item-pseudo-width: 90px;

//Articles
$article-height-mobile: 270px;
$article-height-desktop: 590px;
$category-height: 25px;
$articles-blue: #578fa1;
$articles-popular-color: #ff8000;
$articles-newbie-color: #17bc2d;
$articles-components-color: #9b47b8;
$articles-about-color: #b4003d;
$articles-selections-color: #6186ff;
$articles-liquid-color: #00aeef;
$articles-nicotine-color: #000000;

//Switch
$swith-width: 64px;
$swith-height: $swith-width / 2;
$switch-marker-indent: 3px;

//Slider-brands
$slider-height: 105px;
$img-height: 60px;

//Crumbs
$item-right-padding: 30px;

//Catalog-main-page
$mobile-catalog-page-padding: 15px;
$desktop-catalog-page-padding: 30px;
$mobile-catalog-page-item-height: 130px;
$desktop-catalog-page-item-height: 255px;

//Filters
$active-tog-modal-height: 66px;
$filter-title-height: 40px;
$filter-title-padding-top: 20px;
$filter-title-svg-width: 15px;
$item-in-panel-filter-max-width: 600px;
$filter-svg-close-size: 26px;

//Range-filters
$bar-height: 4px;
$range-filter-hadles-height: 18px;

//Check-box block
$check-box-item-height: 35px;
$check-element-height: 25px;

//Sort
$sort-desktop-font-size: 14px;

//Add-sort
$add-sort-item-height: 25px;

//Catalog-product
$catalog-product-mobile-container-padding-left: 30%;
$catalog-product-sm-container-padding-left: 165px;
$catalog-product-mobile-container-padding-top: 35px;
$catalog-product-mobile-container-padding-top--add: 45px;
$catalog-product-sm-container-padding-top--add: 55px;
$catalog-product-old-price-size: 16px;
$catalog-product-action-item: 36px;
$list-style-catalog-product-min-height: 190px;
$list-style-catalog-product-padding: 30px;
$list-style-catalog-product-right-content-width: 30%;
$list-style-catalog-product-padding-right: $catalog-product-action-item + $list-style-catalog-product-padding + 15px;
$list-style-catalog-product-padding-left: 120px;

//Catalog-product-certificate
$list-style-catalog-product-certificate-padding-left: 190px;

//Catalog-slider
$catalog-slider-title-height: 70px;
$catalog-slider-title-padding-top: 20px;

//Add-product
$add-product-container-padding-top: 45px;
$add-product-container-padding-left: 30%;

//Pagination
$pagination-item-height: 30px;
$pagination-item-border-width: 1px;

//news-all
$news-all-container-padding: 30px;
$news-all-lg-img-width: 330px;
$news-all-lg-img-height: 250px;

//news-page
$news-page-padding-mobile: 15px;
$news-page-padding-md: 30px;
$news-page-svg-width: 37px;

//faq
$faq-mobile-btn-padding: 20px;
$faq-desktop-btn-padding: 30px;

//offer-all
$offer-category-height: 46px;

//city-pick-over
$city-pick-over-search-svg-size: 18px;

//basket
$basket-top-line-height: 65px;
$basket-aside-promo-input-btn-width: 30px;
$basket-aside-promo-accept-span-width: 20px;
$basket-product-lg-padding: 30px;