// Grid
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Fonts
$font: "Segoe UI", sans-serif;

// Colors
$white: #ffffff;
$black: #000000;
$bg-color: #fafafa;
$transparent: transparent;
$main-color: #2c2c2c;

// Other