.order {
    margin-bottom: 20px;

    &__container {
        background: $white;
        border: 1px solid $border-color;
        @media (min-width: $lg) {
            border: none;
        }
    }

    &__section {
        padding: 20px $grid-padding;
        border-bottom: 1px solid $border-color;
        @media (min-width: $lg) {
            padding: 30px;
        }
    }

    &__section:last-child {
        border-bottom: none;
    }

    &__title {
        @include field-reset();
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.33;
        color: $extra-text-color;
        @media (min-width: $lg) {
            margin-bottom: 30px;
        }
    }

    &__text {
        @include field-reset();
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.38;
        color: $communication-add-color;
        @media (min-width: $lg) {
            margin-bottom: 40px;
        }
    }

    &__checked {
        position: relative;
        padding: 0 20px;
        height: 40px;
        width: 100%;
        line-height: $common-item-height;
        font-size: 16px;
        font-weight: 400;
        color: $communication-add-color;
        border-radius: 5px;
        border: solid 1px $border-color;
        @media (min-width: $lg) {
            width: $order-lg-input-width;
        }
    }

    &__checked.active,
    &__toggler.active {
        border-color: $green;
        cursor: default;
    }

    &__checked.active::after,
    &__toggler.active::after {
        @include pseudo();
        top: 40%;
        right: $grid-padding;
        transform: translateY(-50%) rotate(135deg);
        width: 15px;
        height: 8px;
        border: 2px solid $green;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    &__pay-type {
        margin-bottom: 30px;
        @media (min-width: $md) {
            display: flex;
            justify-content: space-between;
        }
        @media (min-width: $lg) {
            justify-content: flex-start;
            margin-bottom: 50px;
        }
    }

    &__toggler {
        position: relative;
        padding: 0 20px;
        margin-bottom: 20px;
        height: 40px;
        width: 100%;
        background: transparent;
        line-height: $common-item-height;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        color: $communication-add-color;
        border-radius: 5px;
        border: solid 1px $border-color;
        cursor: pointer;
        outline: none;
        transition: 0.3s ease;
        @media (min-width: $md) {
            width: calc(50% - #{$half-grid-padding});
        }
        @media (min-width: $lg) {
            width: $order-lg-input-width;
            margin-right: $grid-padding;
        }
    }

    &__toggler:not(.active):hover {
        border-color: $green;
    }

    &__toggler:last-child {
        margin-bottom: 0;
        @media (min-width: $lg) {
            margin-right: 0;
        }
    }
}