.mix-calc {

    &__container {}

    &__top-line {
        display: none;
        @media (min-width: $lg) {
            display: block;
            padding: 0 $grid-padding;
            border-bottom: 1px solid $border-color;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.33;
            color: $main-color;
            background: $white;
            span {
                display: block;
                padding: $grid-padding 0;
            }
        }
    }

    &__list {
        @include order-reset();
        margin-bottom: 20px;
    }

    &__item {
        border-bottom: 1px solid $border-color;
    }

    &__item:last-child {
        border-bottom: none;
    }

    &__bottom-line {

    }

    &__col {
        margin-bottom: 20px;
    }
}