.article-comments {
    margin-bottom: 20px;
    font-family: $font;
    @media (min-width: $lg) {
        margin-bottom: 30px;
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: $news-page-padding-mobile;
        background: $white;
        outline: 1px solid $border-color;
        @media (min-width: $md) {
            padding: $news-page-padding-md;
        }
        @media (min-width: $lg) {
            outline: none;
        }
    }

    &__title {
        @include field-reset();
        margin: 0 (-$news-page-padding-mobile);
        padding: 5px $news-page-padding-mobile 20px $news-page-padding-mobile;
        font-size: 23px;
        font-weight: 400;
        line-height: 1.3;
        color: $extra-text-color;
        border-bottom: 1px solid $border-color;
        @media (min-width: $md) {
            margin: 0 (-$news-page-padding-md);
            padding: 5px $news-page-padding-md 35px $news-page-padding-md;
        }
        @media (min-width: $lg) {
            font-size: 33px;
        }
    }

    &__body {
        padding-top: 15px;
        @media (min-width: $lg) {
            display: flex;
        }
    }

    &__rules {
        padding: 15px 0;
        font-size: 16px;
        color: $extra-text-color;
        p {
            @include field-reset();
            margin-bottom: 15px;
        }
        ul {
            @include field-reset();
            margin-bottom: 15px;
            padding-left: 30px;
        }
        li {
            color: $blue;
            margin-bottom: 15px;
        }
        li:last-child {
            margin-bottom: 0;
        }
        div {
            color: $extra-text-color;
        }
        *:last-child {
            margin-bottom: 0;
        }
        @media (min-width: $lg) {
            padding-right: $grid-padding;
            padding-bottom: 0;
            width: 50%;
        }
    }

    &__message-block {
        padding-top: 15px;
        font-size: 16px;
        @media (min-width: $lg) {
            padding-left: $grid-padding;
            width: 50%;
        }
    }

    &__form {

    }

    &__label {
        display: block;
        margin-bottom: 15px;
        color: $extra-text-color;
        span {
            display: inline-block;
            margin-bottom: 15px;
            font-weight: 600;
            cursor: pointer;
        }
        input {
            width: 100%;
            height: $common-item-height;
            padding: 0 20px;
            line-height: $common-item-height;
            border: 1px solid $border-color;
            border-radius: 5px;
            outline: none;
            transition: 0.3s ease;
        }
        input:hover,
        input:focus {
            border-color: $blue;
        }
        textarea {
            width: 100%;
            height: 150px;
            padding: 20px 20px;
            border: 1px solid $border-color;
            border-radius: 5px;
            outline: none;
            resize: vertical;
            transition: 0.3s ease;
        }
        textarea:hover,
        textarea:focus {
            border-color: $blue;
        }
    }

    &__btn {
        width: 100%;
        @media (min-width: $lg) {
            width: auto;
        }
    }
//------------------
    &__discussions-container {
        padding-top: 20px;
        padding-bottom: 20px;

    }

    &__discuss-message {
        margin-bottom: 20px;
    }

    &__discuss-comment {

    }

    &__user-block {
        display: flex;
        align-items: center;
        padding-bottom: 15px;
    }

    &__user-img {
        margin-right: 15px;
        svg {
            fill: $border-color;
        }
    }

    &__user-info {
        color: $extra-text-color;
    }

    &__user-name {
        font-size: 18px;
        font-weight: 400;
    }

    &__message-date {
        font-size: 14px;
        font-weight: 400;
        color: $add-text-color;
    }

    &__discuss-text {
        @include field-reset();
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 400;
        color: $communication-add-color;
    }

    &__reply-i-voting {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__reply {
        font-size: 14px;
        font-weight: 400;
        color: $blue;
        text-decoration: underline;
    }

    &__voting {
        display: flex;
        align-items: center;
        font-size: 0;
    }

    &__like {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 15px;
        svg {
            margin-right: 5px;
            fill: $green;
        }
        span {
            font-size: 14px;
            font-weight: 400;
        }
    }

    &__dislike {
        display: flex;
        justify-content: space-between;
        align-items: center;
        svg {
            margin-right: 5px;
            fill: $red;
            transform: rotate(180deg);
        }
        span {
            font-size: 14px;
            font-weight: 400;
        }
    }
}