.article-comments {
    margin-bottom: 20px;
    font-family: $font;
    @media (min-width: $lg) {
        margin-bottom: 30px;
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: $news-page-padding-mobile;
        background: $white;
        outline: 1px solid $border-color;
        @media (min-width: $md) {
            padding: $news-page-padding-md;
        }
        @media (min-width: $lg) {
            outline: none;
        }
    }

    &__title {
        @include field-reset();
        margin: 0 (-$news-page-padding-mobile);
        padding: 5px $news-page-padding-mobile 20px $news-page-padding-mobile;
        font-size: 23px;
        font-weight: 400;
        line-height: 1.3;
        color: $extra-text-color;
        border-bottom: 1px solid $border-color;
        @media (min-width: $md) {
            margin: 0 (-$news-page-padding-md);
            padding: 5px $news-page-padding-md 35px $news-page-padding-md;
        }
        @media (min-width: $lg) {
            font-size: 33px;
        }
    }

    &__body {
        padding-top: 15px;
        @media (min-width: $lg) {
            display: flex;
        }
    }

    &__rules {
        padding: 15px 0;
        font-size: 16px;
        color: $extra-text-color;
        p {
            @include field-reset();
            margin-bottom: 15px;
        }
        ul {
            @include field-reset();
            margin-bottom: 15px;
            padding-left: 30px;
        }
        li {
            color: $blue;
            margin-bottom: 15px;
        }
        li:last-child {
            margin-bottom: 0;
        }
        div {
            color: $extra-text-color;
        }
        *:last-child {
            margin-bottom: 0;
        }
        @media (min-width: $lg) {
            padding-right: $grid-padding;
            padding-bottom: 0;
            width: 50%;
        }
    }

    &__message-block {
        padding-top: 15px;
        font-size: 16px;
        @media (min-width: $lg) {
            padding-left: $grid-padding;
            width: 50%;
        }
    }

    &__form {
        position: relative;
    }

    &__form::after {
        content: "";
        display: table;
        clear: both;
    }

    &__label {
        position: relative;
        display: block;
        padding-bottom: $profile-input-padding-botom;
        color: $extra-text-color;
        .error-message {
            display: none;
        }
        input {
            width: 100%;
            height: $common-item-height;
            padding: 0 20px;
            line-height: $common-item-height;
            border: 1px solid $border-color;
            border-radius: 5px;
            outline: none;
            box-shadow: none;
            transition: 0.3s ease;
        }
        input:hover,
        input:focus {
            border-color: $blue;
        }
        textarea {
            width: 100%;
            height: 150px;
            padding: 20px 20px;
            border: 1px solid $border-color;
            border-radius: 5px;
            outline: none;
            resize: vertical;
            box-shadow: none;
            transition: 0.3s ease;
        }
        textarea:hover,
        textarea:focus {
            border-color: $blue;
        }
    }

    &__label-title {
        display: inline-block;
        margin-bottom: 15px;
        font-weight: 600;
        cursor: pointer;
    }

    &__btn {
        width: 100%;
        float: right;
        @media (min-width: $lg) {
            width: auto;
        }
    }
//------------------
    &__discussions-container {
        padding-top: 20px;
        //padding-bottom: 20px;
    }

    &__discuss-message {
        margin-bottom: 20px;
    }

    &__discuss-message.inner {
        padding-left: 15px;

    }

    &__discuss-comment {
        margin-bottom: 20px;
    }

    &__user-block {
        display: flex;
        align-items: center;
        padding-bottom: 15px;
    }

    &__user-img {
        margin-right: 15px;
        svg {
            width: 45px;
            height: 45px;
            fill: $border-color;
        }
        @media (min-width: $lg) {
            svg {
                width: 63px;
                height: 63px;
            }
        }
    }

    &__user-info {
        color: $extra-text-color;
    }

    &__user-name {
        font-size: 18px;
        font-weight: 400;
    }

    &__message-date {
        font-size: 14px;
        font-weight: 400;
        color: $add-text-color;
    }

    &__discuss-text {
        @include field-reset();
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 400;
        color: $communication-add-color;
    }

    &__reply-i-voting {
        display: flex;
        align-items: center;
    }

    &__reply {
        font-size: 14px;
        font-weight: 400;
        color: $blue;
        text-decoration: underline;
        cursor: pointer;
    }

    &__reply.hidden {
        display: none;
    }

    &__voting {
        display: flex;
        align-items: center;
        margin-left: auto;
        font-size: 0;
    }

    &__like {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 15px;
        cursor: pointer;
        svg {
            margin-right: 5px;
            fill: $green;
        }
        span {
            font-size: 14px;
            font-weight: 400;
        }
    }

    &__dislike {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        svg {
            margin-right: 5px;
            fill: $red;
            transform: rotate(180deg);
        }
        span {
            font-size: 14px;
            font-weight: 400;
        }
    }

    &__btns {
        @media (min-width: $md) {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
    }

    &__btn-reply {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
        @media (min-width: $md) {
            width: auto;
            margin-right: 15px;
            margin-bottom: 0;
        }
    }

    &__btn-cancel {
        width: 100%;
        height: $common-item-height;
        color: $add-red;
        border-color: $add-red;
        @media (min-width: $md) {
            width: auto;
        }
    }

    &__btn-cancel:hover {
        color: $white;
        border-color: $add-red;
        background: $add-red;
    }

    &__discussions-form {
        display: none;
        margin-top: 20px;
    }

    &__discussions-form.active {
        display: block;
    }
//валидация формы
    &__label.invalid {
        input,
        textarea {
            border-color: $red;
        }
        .error-message {
            display: block;
            position: absolute;
            overflow: hidden;
            height: $profile-input-padding-botom;
            position: absolute;
            left: 10px;
            bottom: 0;
            font-size: 12px;
            line-height: $profile-input-padding-botom - 5px;
            font-weight: 400;
            color: $red;
        }
    }
}