@import 'variables';

.#{$glide-class} {
    $this: &;

    $se: $glide-element-separator;
    $sm: $glide-modifier-separator;

    &:hover &__arrow {
        opacity: 1;
    }

    &#{$se}arrow {
        display: none;
        position: absolute;
        top: 50%;
        z-index: 2;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $white;
        border: 2px solid rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 20px 0 transparentize($black, 0.9);
        opacity: 0;
        cursor: pointer;
        transition: opacity 0.3s ease, border 0.3s ease-in-out;
        transform: translateY(-50%);
        font-size: 0;
        outline: none;
        @media (min-width: $lg) {
            display: block;
        }

        &::before {
            display: block;
            content: "";
            position: absolute;
            top: 13px;
            left: 15px;
            width: 10px;
            height: 10px;
            border: 2px solid $blue;
            border-right: transparent;
            border-top: transparent;
            transform: rotate(45deg);
        }

        &:focus {
            outline: none;
        }

        &:hover {
            border-color: white;
        }

        &#{$sm}left {
            left: 20px;
        }

        &#{$sm}right {
            right: 20px;
        }

        &#{$sm}right::before {
            top: 14px;
            left: 12px;
            border: 2px solid $blue;
            border-left: transparent;
            border-bottom: transparent;
        }

        &#{$sm}disabled {
            opacity: 0.33;
        }
    }

    &#{$se}bullets {
        position: absolute;
        z-index: 2;
        bottom: 2em;
        left: 50%;
        display: inline-flex;
        list-style: none;
        transform: translateX(-50%);
    }

    &#{$se}bullet {
        background-color: $transparent;
        width: 10px;
        height: 10px;
        padding: 0;
        border-radius: 50%;
        border: 2px solid $blue;
        transition: all 300ms ease-in-out;
        cursor: pointer;
        line-height: 0;
        margin: 0 7px;
        @media (min-width: $lg) {
            width: 14px;
            height: 14px;
            border: 3px solid $blue;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:focus {
            outline: none;
        }

        &:hover,
        &:focus {

        }

        &#{$sm}active {
            background-color: $blue;
        }
    }

    &#{$sm}swipeable {
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }

    &#{$sm}dragging {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }
}
//index top slider
.glide--top-slider {
    @media (min-width: $lg) {
        padding-top: $common-block-vertical-padding;
    }

    .glide__item {
        position: relative;
        text-align: center;
        img {
            height: 240px;
            max-width: none;
        }
        @media (min-width: $lg) {
            height: auto;
            img {
                height: auto;
                max-width: none;
            }
        }
    }

    .glide__text {
        @include field-reset();
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 380px;
        padding: 0 15px;
        position: absolute;
        bottom: $bullets-bottom-position + 30px;
        font-family: $font;
        font-weight: 400;
        font-size: 25px;
        line-height: 1.33;
        text-align: center;
        color: $main-color;
        @media (min-width: $lg) {
            top: 12px;
            left: 5px;
            transform: none;
            max-width: 380px;
            font-size: 33px;
            text-align: left;
        }
    }

    .glide__bullets {
        bottom: $bullets-bottom-position;
        @media (min-width: $lg) {
            left: 20px;
            bottom: $bullets-bottom-position + 5px;
            transform: none;
        }
    }
}
//index advantages slider
.glide--advantages {
    padding-top: $common-block-vertical-padding;
    @media (min-width: $lg) {
        cursor: default;
    }

    .glide__track {
        background: $white;
        border: 1px solid $border-color;
        @media (min-width: $lg) {
            border: none;
        }
    }

    .glide__slide {
        @media (min-width: $lg) {
            user-select: auto;
            transform: translate3d(0px, 0px, 0px) !important;
        }
    }

    .glide__item {
        position: relative;
        padding: $parent-padding;
        padding-left: $svg-size + $parent-padding + 15px;
        padding-bottom: $parent-padding + 20px;
        svg {
            position: absolute;
            top: $parent-padding;
            left: 15px;
            width: $svg-size;
            height: $svg-size;
            fill: $blue;
        }
        @media (min-width: $lg) {
            padding: $parent-padding;
            svg {
                position: static;
            }
        }
        @media (min-width: $xl) {
            padding-left: $svg-size + $parent-padding + 5px;
            svg {
                position: absolute;
                width: $svg-size - 10px;
                height: $svg-size - 10px;
            }
        }
    }

    .glide__title {
        @include field-reset();
        padding-bottom: 5px;
        font-family: $font;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.17;
        color: $extra-text-color;
        @media (min-width: $lg) {
            font-size: 16px;
        }
        @media (min-width: $xl) {
            font-size: 14px;
        }
    }

    .glide__text {
        @include field-reset();
        font-family: $font;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.38;
        color: $communication-add-color;
        @media (min-width: $lg) {
            font-size: 12px;
            line-height: 1.17;
        }
    }

    .glide__bullets {
        bottom: 20px;
        @media (min-width: $lg) {
            display: none;
        }
    }
}