.static-content {
    margin-bottom: 20px;
    font-family: $font;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $communication-add-color;

    &__container {
        margin-bottom: 20px;
        background: $white;
        border: 1px solid $border-color;
        @media (min-width: $lg) {
            padding: 0;
            border: none;
        }
    }

    &__container:last-child {
        margin-bottom: 0;
    }

    &__section {
        position: relative;
        border-bottom: 1px solid $border-color;
        padding: 20px $grid-padding;
        > *:not([class]):last-child {
            margin-bottom: 0;
        }
        @media (min-width: $lg) {
            padding: 30px;
        }
    }

    &__section:last-child {
        border-bottom: none;
    }

    p:not([class]),
    ul:not([class]),
    ol:not([class]),
    img:not([class]) {
        @include field-reset();
        margin-bottom: 15px;
    }

    ul, ol {
        list-style-type: none;
    }

    &__label {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        @media (min-width: $md) {
            &:nth-last-child(2) {
                margin-bottom: 0;
            }
        }
    }

    input {
        width: 100%;
        height: $common-item-height;
        padding: 0 10px;
        border: 1px solid $border-color;
        border-radius: 5px;
        line-height: $common-item-height;
        outline: none;
        transition: 0.3s ease;
    }

    input:hover,
    input:focus {
        border-color: $blue;
    }

    &__pass {
        margin-bottom: 20px;
    }

    &__title {
        @include field-reset();
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.33;
        color: $extra-text-color;
        @media (min-width: $lg) {
            margin-bottom: 30px;
        }
    }

    &__title--img {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        div {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding-top: 10px;
        }
        img {
            margin-left: 15px;
            margin-bottom: 0;
        }
        @media (min-width: $sm) {
            div {
                padding-top: 0;
            }
        }
    }

    &__text {
        @include field-reset();
        margin-bottom: 15px;
    }

    .static-content__sub-title {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        color: $extra-text-color;
    }

    .static-content__sub-title--warning {
        color: $red;
    }

    &__btn {
        width: 100%;
        height: $common-item-height;
        line-height: $common-item-height;
        @media (min-width: $md) {
            width: auto;
        }
    }

    &__profile-info {
        @media (min-width: $md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .static-content__title {
                margin-bottom: 0;
            }
        }
    }

    .red-btn {
        .confirm {
            display: none;
        }
    }

    .btn {
        .confirm {
            display: inline;
        }

        .no-confirm {
            display: none;
        }
    }
}