.static-content {
    margin-bottom: 20px;
    font-family: $font;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $communication-add-color;

    &__container {
        background: $white;
        border: 1px solid $border-color;
        @media (min-width: $lg) {
            padding: 0;
            border: none;
        }
    }

    &__section {
        position: relative;
        border-bottom: 1px solid $border-color;
        padding: 20px $grid-padding;
        > *:nth-last-child(2) {
            margin-bottom: 0;
        }
        @media (min-width: $lg) {
            padding: 30px;
        }
    }

    &__section:last-child {
        border-bottom: none;
    }

    p, ul, ol, img {
        @include field-reset();
        margin-bottom: 15px;
    }

    ul, ol {
        list-style-type: none;
    }

    &__title {
        @include field-reset();
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.33;
        color: $extra-text-color;
        @media (min-width: $lg) {
            margin-bottom: 30px;
        }
    }

    &__title--img {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        div {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding-top: 10px;
        }
        img {
            margin-left: 15px;
            margin-bottom: 0;
        }
        @media (min-width: $sm) {
            div {
                padding-top: 0;
            }
        }
    }

    .static-content__sub-title {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        color: $extra-text-color;
    }

    .static-content__sub-title--warning {
        color: $red;
    }

    &__btn {
        height: $common-item-height;
        line-height: $common-item-height;
    }

    &__anchor-element {
        position: absolute;
        z-index: -1;
        top: -$mobile-header-height;
        @media (min-width: $md) {
            top: -$tablet-header-height;
        }
        @media (min-width: $lg) {
            top: -$desktop-header-height;
        }
    }
}