.static-content {
    margin-bottom: 20px;
    font-family: $font;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $communication-add-color;

    &__container {
        margin-bottom: 20px;
        background: $white;
        border: 1px solid $border-color;
        @media (min-width: $lg) {
            padding: 0;
            border: none;
        }
    }

    &__container:last-child {
        margin-bottom: 0;
    }

    &__section {
        position: relative;
        border-bottom: 1px solid $border-color;
        padding: 20px $grid-padding;
        > *:not([class]):last-child {
            margin-bottom: 0;
        }
        @media (min-width: $lg) {
            padding: 30px;
        }
    }

    &__section--bonuses {
        @media (min-width: $lg) {
            border-bottom: none;
        }
    }

    &__section--bonuses:not(:last-child)::after {
        @media (min-width: $lg) {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 30px;
            right: 30px;
            height: 1px;
            background: $border-color;
        }
    }

    &__section:last-child {
        border-bottom: none;
    }

    p:not([class]),
    ul:not([class]),
    ol:not([class]),
    img:not([class]) {
        @include field-reset();
        margin-bottom: 15px;
    }

    ul, ol {
        list-style-type: none;
    }

    &__label {
        display: block;
        position: relative;
        padding-bottom: $profile-input-padding-botom;
        .error-message {
            display: none;
        }
    }

    input {
        width: 100%;
        height: $common-item-height;
        padding: 0 10px;
        border: 1px solid $border-color;
        border-radius: 5px;
        line-height: $common-item-height;
        outline: none;
        transition: 0.3s ease;
    }

    input:hover,
    input:focus {
        border-color: $blue;
    }

    &__title {
        @include field-reset();
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.33;
        color: $extra-text-color;
        @media (min-width: $lg) {
            margin-bottom: 30px;
        }
    }

    &__title--img {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        div {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding-top: 10px;
        }
        img {
            margin-left: 15px;
            margin-bottom: 0;
        }
        @media (min-width: $sm) {
            div {
                padding-top: 0;
            }
        }
    }

    &__text {
        @include field-reset();
        margin-bottom: 15px;
    }

    &__text--bonuses {
        text-align: center;
        @media (min-width: $md) {
            text-align: left;
        }
    }

    .static-content__sub-title {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        color: $extra-text-color;
    }

    .static-content__sub-title--warning {
        color: $red;
    }

    &__btn {
        width: 100%;
        height: $common-item-height;
        line-height: $common-item-height;
        @media (min-width: $md) {
            width: auto;
        }
    }

    &__profile-info {
        .static-content__title {
            margin-bottom: 0;
        }
        @media (min-width: $md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__confirm-info {
        padding: 0 10px;
        height: $common-item-height;
        line-height: $common-item-height;
        background: transparent;
        border-radius: 5px;
        color: $add-red;
        border: 1px solid $add-red;

        font-size: 14px;
        font-weight: 400;
        .confirm {
            display: none;
        }

        .no-confirm {
            display: inline;
        }
    }

    &__confirm-info.confirmed {
        color: $blue;
        border-color: $blue;
        .confirm {
            display: inline;
        }

        .no-confirm {
            display: none;
        }
    }
//валидация формы
    &__label.invalid {
        input,
        textarea {
            border-color: $red;
        }
        .error-message {
            display: block;
            position: absolute;
            overflow: hidden;
            height: $profile-input-padding-botom;
            position: absolute;
            left: 10px;
            bottom: 0;
            font-size: 12px;
            line-height: $profile-input-padding-botom - 5px;
            font-weight: 400;
            color: $red;
        }
    }
//Страница сертификатов
    &__certificate-list {
        @include order-reset();
        display: flex;
        flex-wrap: wrap;
    }
    &__certificate-item {
        width: 100%;
        padding: 10px;
        @media (min-width: $sm) {
            width: 33.333333%;
        }
        @media (min-width: $lg) {
            width: 25%;
        }
        @media (min-width: $tp) {
            width: 20%;
        }
    }
    &__certificate-name {
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;
        color: $extra-text-color;
    }
    &__certificate-img {
        position: relative;
        width: 130px;
        height: 180px;
        margin: 0 auto;
        overflow: hidden;
        border: 1px solid $border-color;
        border-radius: 5px;
        cursor: pointer;
        &::before {
            @include full-absolute();
            content: "";
            display: block;
            position: absolute;
            background: transparent;
            transition: 0.3s background;
            pointer-events: none;
        }
        img {}
    }
    &__certificate-img:hover {
        &::before {
            background: transparentize($extra-text-color, 0.6);
        }
    }

    &__total-bonuses {
        @include field-reset();
        font-size: 40px;
        line-height: 1.15;
        color: $black;
        text-align: center;
        @media (min-width: $md) {
            text-align: left;
        }
    }
}