.my-order {
    margin-bottom: 20px;
    font-family: $font;
    position: relative;

    &__container {
        background: $white;
        border: 1px solid $border-color;
        overflow-x: auto;
        overflow-y: hidden;

        @media (min-width: $lg) {
            border: none;
            overflow-x: visible;
            overflow-y: visible;
        }
    }
//Скролл на webkit--------
    &__container::-webkit-scrollbar-track-piece {
        background: $delivery-active-btn;
    }

    &__container::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &__container::-webkit-scrollbar:horizontal {
        height: 13px;
    }

    &__container::-webkit-scrollbar-thumb {
        border: 3px solid $delivery-active-btn;
        background: lighten($main-color, 70%);
    }
//------------------------

    &__tbody {
        > tr:nth-child(2n) {
            background: $delivery-active-btn;
        }
    }

    &__table {
        min-width: 730px;
        border-collapse: collapse;
        width: 100%;
        padding: $grid-padding 0;
        table-layout: fixed;
        th, td {
            padding: $grid-padding $grid-padding;
            width: calc((100% - 40px) / 4);
            text-align: left;
            vertical-align: middle;
            height: 52px;

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        th:nth-child(4),
        td:nth-child(4) {
            width: 250px;
        }
        th:last-child,
        td:last-child {
            padding: 0;
            height: 100%;
            width: 40px;
            vertical-align: top;
        }
        td {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.31;
            color: $extra-text-color;
        }
        th {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.33;
            color: $main-color;

            text-overflow: ellipsis;
            white-space: nowrap;
        }
        tr {
            box-shadow: 0 1px 0 $border-color;
        }
        a {
            transition: 0.3s ease;
        }
        a:hover {
            color: $blue;
        }
        .my-order__collapsed-info {
            width: 100%;
            max-height: 0;
            overflow: hidden;
            transition: 0.3s ease;
        }
        .my-order__collapsed-info.active {
            max-height: none;
        }
        @media (min-width: $md) {
            width: 100%;
            min-width: auto;
        }
        @media (min-width: $lg) {
            padding: $grid-padding $grid-padding;
            text-overflow: clip;
            white-space: normal;
        }
    }

    &__collapsed-info {
        th:nth-child(3),
        td:nth-child(3) {
            width: 250px;
        }
    }

    &__item {
        padding: 0 $grid-padding;
        border-bottom: 1px solid $border-color;
        @media (min-width: $lg) {
            padding: 0 30px;
        }
    }

    &__item:last-child {
        border-bottom: 0;
    }

    &__open {
        position: absolute;
        right: 9px;
        margin-top: 2px;
        width: 35px;
        height: 40px;
        padding: 0;
        font-size: 0;
        font-weight: 600;
        line-height: 1.3;
        color: $main-color;
        background: $delivery-active-btn;
        text-align: left;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s ease;
        svg {
            position: absolute;
            top: 19px;
            right: 14px;
            fill: $blue;
            transition: 0.3s ease;
        }
    }

    &__open:hover {
        color: $blue;
    }

    &__open.active {
        svg {
            transform: rotate(180deg);
        }
    }

    &__price {
        display: inline-block;
        width: 75px;
    }

    &__status {
        padding-left: 5px;
        color: $blue;
        font-size: 12px;
    }

    &__delete {
        padding: 0;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 0;
        vertical-align: middle;
    }

    &__cancel-form {
        display: inline-block;
        vertical-align: top;
    }

    &__buy,
    &__cancel {
        height: 20px;
        line-height: 20px;
        padding: 0 5px;
        font-size: 12px;
        font-weight: 600;
    }

    &__cancel {
        background: $red;
        color: $white;
    }

    &__delivery {
        td {
            vertical-align: middle;
            font-size: 12px;
            color: $add-text-color;

            text-overflow: clip;
            white-space: normal;
        }
    }
}