.articles-all {
    font-family: $font;

    &__sort {
        margin-bottom: 20px;
    }

    &__list {
        @include order-reset();
        margin: 0 -7.5px;
    }

    &__item {
        margin-bottom: 20px;
    }

    &__pagination {
        margin-bottom: 20px;
    }

    &__link {
        color: $blue;
    }

    &__link:hover {
        text-decoration: underline;
    }
}