.delivery-calc {

    &__form {
        margin-bottom: 30px;
        input {
            width: 100%;
            margin-bottom: 20px;
        }
        @media (min-width: $md) {
            display: flex;
            input {
                flex-grow: 1;
                margin-bottom: 0;
                border-right: none;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    &__btn {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        @media (min-width: $md) {
            flex-shrink: 0;
            width: auto;
            font-size: 14px;
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &__pay-btns {
        margin-bottom: 30px;
        @media (min-width: $md) {
            display: flex;
        }
    }

    &__pay-btn {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: $common-item-height;
        margin-bottom: 20px;
        padding: 0 20px;

        font-size: 16px;
        font-weight: 600;
        line-height: $common-item-height;
        border: 1px solid $border-color;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        color: $add-btn-color;
        background-color: transparent;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
            color: $blue;
            background: $delivery-active-btn;
        }
    }

    &__pay-btn:first-child {
        @media (min-width: $md) {
            border-right: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &__pay-btn:last-child {
        margin-bottom: 0;
        @media (min-width: $md) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &__pay-btn.active {
        color: $blue;
        background: $delivery-active-btn;
        pointer-events: none;
    }
//список способа оплаты
    &__list {
        @include order-reset();
    }

    &__item {
        margin-bottom: 15px;
        border: 1px solid $border-color;
        border-radius: 5px;
    }

    &__item {
        .inner {
            display: none;
        }
    }

    &__item.active {
        background: $goods-sliders-background;
        .inner {
            display: flex;
        }
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__item-container {
        position: relative;
        padding: 10px;
        overflow: hidden;
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        padding-bottom: 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.36;
        color: $extra-text-color;
        cursor: pointer;
        input[type="radio"] {
            display: none;
        }
        input[type="radio"]:checked {
            ~.delivery-calc__radio {
                background-image: radial-gradient(circle, $green 40%, $white 40%);
            }
        }
        img {
            flex-shrink: 0;
            margin-right: 15px;
        }
        @media (min-width: $md) {
            padding-bottom: 0;
        }
        @media (min-width: $lg) {
            font-size: 16px;
        }
    }

    /* &__label::before {
        @include pseudo();
        z-index: 100;
        top: -10px;
        left: -10px;
        height: 200%;
        width: 200%;
    } */

    &__radio {
        flex-shrink: 0;
        display: block;
        width: 25px;
        height: 25px;
        margin-right: 15px;
        border-radius: 50%;
        border: solid 1px $border-color;
        background: $white;
    }

    &__values {
        display: flex;
        align-items: flex-start;
        height: 100%;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.30;
        @media (min-width: $md) {
            align-items: center;
        }
    }

    &__address-value {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.31;
        color: $main-color;
    }

    &__time {
        @include field-reset();
        color: $main-color;
    }

    &__pay-sum {
        flex-shrink: 0;
        min-width: 60px;
        text-align: right;
        color: $green;
        margin-left: auto;
        @media (min-width: $md) {
            min-width: auto;
            width: 80px;
            padding-left: 10px;
            text-align: left;
        }
    }
//вложенные формы
    .inner {
        border-top: 1px solid $border-color;
        padding: 10px 0;
        .delivery-calc__list {
            padding: 0 10px;
            width: 100%;
            max-height: $order-calc-inner-max-height;
            overflow: auto;
            flex-wrap: wrap;
        }

        .delivery-calc__item {
            border: none;
            @media (min-width: $md) {
                padding-left: 0;
            }
        }

        .delivery-calc__label {
            padding-bottom: 0;
        }
    }

//переключатель "радио"
    &__item-container.active {
        background: $add-grey;

        .delivery-calc__radio {
            background-image: radial-gradient(circle, $green 40%, $white 40%);
        }
    }
}