.basket-product {
    background: $white;

    &__container {
        position: relative;
        padding: $grid-padding;
        @media (min-width: $lg) {
            min-height: 170px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__del-item {
        position: absolute;
        top: $grid-padding;
        right: $grid-padding;
        width: $basket-close-btn;
        height: $basket-close-btn;
        font-size: 0;
        text-align: center;
        line-height: $basket-close-btn;
        border-radius: 3px;
        background: $white;
        cursor: pointer;
        svg {
            vertical-align: top;
            fill: $extra-text-color;
            width: 20px;
            height: 20px;
        }
        @media (min-width: $lg) {
            top: 50%;
            right: $basket-product-lg-padding;
            transform: translateY(-50%);
            svg {
                vertical-align: middle;
                width: $basket-close-btn;
                height: $basket-close-btn;
            }
        }
    }

    &__del-item--free {
        display: none;
        @media (min-width: $lg) {
            display: block;
            cursor: default;
            svg {
                width: 15px;
                height: 15px;
            }
        }
    }

    &__del-item:hover::after {
        content: attr(data-tips);
        position: absolute;
        display: block;
        z-index: 10;
        top: 50%;
        left: -$action-item-pseudo-width - 12px;
        transform: translateY(-50%);
        width: $action-item-pseudo-width;
        height: 25px;
        padding: 0 8px;
        background: $extra-text-color;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
        color: $white;
    }

    &__del-item--free:hover::after {
        content: "";
        display: none;
    }

    &__row {
        @media (min-width: $lg) {
            align-items: center;
        }
    }

//изображение
    &__img {
        //margin-left: -$grid-padding;
        height: 140px;
        text-align: center;
        img {
            max-height: 100%;
            max-width: 100%;
            height: auto;
            width: auto;
            vertical-align: middle;
        }
        @media (min-width: $sm) {
            height: 90%;
            //margin-left: 0;
        }
        @media (min-width: $lg) {
            //height: 100px;
            //margin-left: -$basket-product-lg-padding;
            height: 140px;
            line-height: 140px;
        }
    }

    &__img--free {
        @media (min-width: $lg) {
            display: flex;
            text-align: left;
        }
    }

    &__img-inner {
        @media (min-width: $lg) {
            width: 52.25%;
            img {
                max-width: $basket-product-cound-height * 2 + 50px;
            }
        }
    }

    &__free {
        display: none;
        @media (min-width: $lg) {
            display: block;
            font-weight: 700;
            color: $extra-text-color;
        }
    }

//---
    &__body {
        margin-bottom: 10px;
        >*:last-child {
            margin-bottom: 0;
        }
        @media (min-width: $lg) {
            margin-bottom: 0;
        }
    }

    &__body--free {
        @media (min-width: $lg) {
            padding-left: 20px;
        }
    }

//features
    &__features {
        margin-bottom: 5px;
    }

    &__features-item {
        display: inline-block;
        padding: 1px 6px;
        margin-right: 3px;
        text-align: center;
        font-family: $font;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.36;
        color: $red;
        background: $white;
        border: 1px solid $red;
        border-radius: 3px;
    }

    &__features-item--hit {
        color: $green;
        border: 1px solid $green;
    }

//название товара
    &__name {
        display: block;
        margin-bottom: 10px;
        overflow: hidden;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.33;
        color: $main-color;
        transition: 0.3s ease;

        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        @media (min-width: $lg) {
            max-height: 50px;
        }
    }

    &__name:hover {
        color: $blue;
    }

//свойство товара
    &__property {
        margin-bottom: 25px;
        overflow: hidden;
        font-family: $font;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.36;
        color: $communication-add-color;
    }

    &__property-item {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__property-value {
        @include field-reset();
        display: inline-block;
        vertical-align: top;
        padding-right: 15px;
    }

    &__color {
        display: inline-flex;
        vertical-align: top;
        align-items: center;
        height: 25px;
        border-radius: 3px;
        border: 1px solid $border-color;
        overflow: hidden;
    }

    &__color-img {
        overflow: hidden;
        height: 25px;
        width: 25px;
        color: $border-color;
        font-size: 0;
    }

    &__value {
        padding: 0 10px;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.33;
        color: $extra-text-color;
    }

    &__name {
        display: block;
        margin-bottom: 10px;
        overflow: hidden;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.33;
        color: $main-color;
        transition: 0.3s ease;

        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        @media (min-width: $lg) {
            max-height: 50px;
        }
    }

    &__title {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.33;
        color: $extra-text-color;
        font-weight: 600;
        transition: color 0.2s;
        svg {
            width: 15px;
            height: 15px;
            position: relative;
            z-index: 1;
            flex-shrink: 0;
            margin-right: 5px;
            margin-top: 5px;
        }
        @media (min-width: $lg) {
            svg {
                display: none;
            }
        }
    }

    &__title:hover {
        color: $blue;
    }

    &__text {
        @include field-reset();
        margin-bottom: 25px;
        overflow: hidden;
        font-family: $font;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.36;
        color: $communication-add-color;
        span {
            display: block;
            margin-top: 15px;
            font-weight: 700;
            color: $extra-text-color;
        }
        @media (min-width: $lg) {
            span {
                display: none;
            }
        }
    }

//количество товара
    &__count-container {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 10px;
        @media (min-width: $lg) {
            margin-bottom: 0;
        }
    }

    &__count {
        display: inline-flex;
        vertical-align: middle;
        margin-right: 15px;
        input {
            @include placeholder {
              color: $communication-add-color;
            }
            @include placeholder-f {
              color: transparent;
            }
            height: $basket-product-cound-height;
            width: 50px;
            outline: none;
            border: none;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.33;
            color: $main-color;
            text-align: center;
            background: transparent;
            -moz-appearance: textfield;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        @media (min-width: $lg) {
            display: flex;
            margin-right: 0;
        }
    }

    &__minus,
    &__plus {
        width: $basket-product-cound-height;
        height: $basket-product-cound-height;
        border: 1px solid $border-color;
        background: transparent;
        outline: none;
        font-size: 25px;
        font-weight: 400;
        cursor: pointer;
        padding-bottom: 5px;
    }

    &__price-one {
        display: inline-block;
        vertical-align: middle;
        padding: 5px 0 5px 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.36;
        text-align: left;
        color: $extra-text-color;
        @media (min-width: $lg) {
            display: block;
            text-align: center;
            padding-bottom: 0;
        }
    }

//блок цен
    &__price {
        line-height: 1.1;
        color: $extra-text-color;
        @media (min-width: $lg) {
            line-height: 1.3;
            padding-right: $basket-close-btn;
        }
    }

    &__old-price {
        margin-right: 10px;
        vertical-align: middle;
        font-size: 14px;
        font-weight: 400;
        text-decoration: line-through;
        @media (min-width: $lg) {
            display: block;
            margin-right: 0;
        }
    }

    &__current-price {
        vertical-align: middle;
        font-size: 16px;
        font-weight: 700;
        @media (min-width: $lg) {
            display: block;
        }
    }
}