.basket {

    &__container {
        background: $white;
    }

    &__top-line {
        display: none;
        @media (min-width: $lg) {
            display: block;
            padding: 0 $basket-product-lg-padding;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.33;
            color: $main-color;
            span {
                display: block;
                padding: 20px 0;
            }
        }
    }

    &__list {
        @include order-reset();
    }

    &__item {
        border-bottom: 1px solid $border-color;
    }

    &__item:last-child {
        border-bottom: none;
    }
}