.basket-aside {
    margin-bottom: 20px;

    &__wrapper {
        @media (min-width: $lg) {
            position: sticky;
            top: $desktop-header-height + 15px;
        }
    }

    &__container {

    }

//блок промо
    &__promo {
        margin-bottom: 20px;
        background: $white;
        border: 1px solid $border-color;
        @media (min-width: $lg) {
            border: none;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding: $grid-padding;
        border-bottom: 1px solid $border-color;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        color: $main-color;
    }

    &__hide-promo {
        background: transparent;
        outline: none;
        border: none;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.33;
        color: $communication-add-color;
        cursor: pointer;
    }

    &__input-promo {
        padding: $grid-padding;
    }

    &__input-container {
        display: flex;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid $border-color;
        input {
            width: 100%;
            flex-grow: 1;
            height: $basket-aside-promo-input-btn-width;
            border: none;
            outline: none;
            font-weight: 400;
            line-height: 1.38;
            font-size: 16px;
            color: $main-color;
        }
        button {
            flex-shrink: 0;
            padding: 0;
            margin-left: 10px;
            width: $basket-aside-promo-input-btn-width;
            height: $basket-aside-promo-input-btn-width;
            border-radius: 50%;
            border: none;
            outline: none;
            background: $blue;
            font-size: 0;
            cursor: pointer;
        }
        svg {
            transform: rotate(-90deg);
            fill: $white;
        }
    }

    &__promo-accept {
        display: none;
    }

    &__promo-accept.active {
        margin-top: 15px;
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: $green;
        span:first-child {

        }
        span:last-child {
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin-left: 10px;
            width: $basket-aside-promo-accept-span-width;
            height: $basket-aside-promo-accept-span-width;
            border-radius: 50%;
            background: $extra-text-color;

            font-size: 13px;
            font-weight: 600;
            line-height: 1.38;
            text-align: center;
            color: $white;
            cursor: default;
        }
        span:last-child:hover::before {
            content: "Какой-то поясняющий текст, какой-то поясняющий текст";
            position: absolute;
            display: block;
            padding: 5px;
            top: 50%;
            right: $basket-aside-promo-accept-span-width + 5px;
            transform: translateY(-50%);
            width: 150px;
            height: auto;
            border-radius: 5px;
            background: $extra-text-color;
            font-size: 13px;
            font-weight: 400;
            line-height: 1.38;
            color: $white;
        }
    }

//блок состава заказа
    &__structure {
        background: $white;
        border: 1px solid $border-color;
        >*:last-child {
            margin-bottom: 0;
        }
        @media (min-width: $lg) {
            border: none;
        }
    }

    &__structure-container {
        padding: $grid-padding;
    }

    &__goods-price {
        @include field-reset();
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: $communication-add-color;
        span {
            font-size: 16px;
            font-weight: 700;
            line-height: 1.5;
            color: $main-color;
        }
    }

    &__goods-total-price {
        margin-bottom: 20px;
        span:first-child {
            display: block;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.33;
            color: $extra-text-color;
            text-align: center;
        }
        span:last-child {
            display: block;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.33;
            color: $main-color;
            text-align: center;
        }
    }

    &__btn {
        display: block;
        width: 100%;
        height: $common-item-height;
        padding: 0 10px;
        margin-bottom: 20px;
        line-height: $common-item-height;
        text-align: center;
        font-size: 16px;
        font-weight: 700;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &__btn:last-child {
        margin-bottom: 0;
    }

//слайдер advantages
    &__advantages {
        user-select: none;
    }

    &__slides {
        padding-bottom: 20px;
    }

    &__bullets {
        @media (min-width: $lg) {
            display: inline-flex;
            button {
                width: 10px;
                height: 10px;
                border: 2px solid #008aff;
                margin: 0 7px;
            }
        }
    }
}