.add-to-cart {
    display: none;
    font-family: $font;
    position: fixed;
    z-index: 1000;
    overflow: auto;
    @include full-absolute();
    top: 0;
    background-color: transparentize($black, 0.5);

    &.opened {
        display: block;
    }

    &__container {
        max-height: 100vh;
        overflow: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - #{$two-grid-padding});
        max-width: 705px;
        margin: 0 auto;
    }

    &__top-line {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        border-bottom: 1px solid $border-color;
        padding: 0 $grid-padding;
        height: 75px;
        background: $white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__close {
        padding: 0;

        display: block;
        width: 50px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 0;
        text-align: right;
        cursor: pointer;
        svg {
            fill: $add-text-color;
        }
    }

    &__title {
        @include field-reset();
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        color: $main-color;
    }

    &__form-container {
        margin-top: -1px;
    }

    &__product {
        background: $white;
        border-bottom: 1px solid $border-color;
    }

    &__product-container {
        position: relative;
        padding: $grid-padding;
    }

    &__del-item {
        position: absolute;
        top: $grid-padding;
        right: $grid-padding;
        width: $basket-close-btn;
        height: $basket-close-btn;
        font-size: 0;
        text-align: center;
        line-height: $basket-close-btn;
        border-radius: 3px;
        background: $white;
        cursor: pointer;
        svg {
            vertical-align: top;
            fill: $extra-text-color;
            width: 20px;
            height: 20px;
        }
        @media (min-width: $lg) {
            top: 50%;
            right: $basket-product-lg-padding;
            transform: translateY(-50%);
            svg {
                vertical-align: middle;
                width: $basket-close-btn;
                height: $basket-close-btn;
            }
        }
    }

    &__del-item:hover::after {
        content: attr(data-tips);
        position: absolute;
        display: block;
        z-index: 10;
        top: 50%;
        left: -$action-item-pseudo-width - 12px;
        transform: translateY(-50%);
        width: $action-item-pseudo-width;
        height: 25px;
        padding: 0 8px;
        background: $extra-text-color;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
        color: $white;
    }

    &__row {
        height: 100%;
        align-items: flex-start;
    }

    &__img {
        height: 130px;
        text-align: center;
        margin-bottom: 10px;
        img {
            max-height: 100%;
            max-width: 100%;
            height: auto;
            width: auto;
        }
        @media (min-width: $sm) {
            margin-bottom: 0;
        }
        @media (min-width: $lg) {
            height: 100px;
        }
    }

    &__body {
        margin-bottom: 10px;
        padding-right: $add-to-cart-action-padding + $add-to-cart-action-item-width-mobile + 5px;

        >*:last-child {
            margin-bottom: 0;
        }
        @media (min-width: $sm) {
            padding-right: $add-to-cart-action-padding + $add-to-cart-action-item-width-sm + 5px;
        }
        @media (min-width: $lg) {
            margin-bottom: 0;
            padding-right: 0;
        }
    }

    &__features {
        margin-bottom: 5px;
    }

    &__features-item {
        display: inline-block;
        padding: 1px 6px;
        margin-right: 3px;
        text-align: center;
        font-family: $font;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.36;
        color: $red;
        background: $white;
        border: 1px solid $red;
        border-radius: 3px;
    }

    &__features-item--hit {
        color: $green;
        border: 1px solid $green;
    }

    &__name {
        display: block;
        margin-bottom: 10px;
        overflow: hidden;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.33;
        color: $main-color;
        transition: 0.3s ease;

        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        @media (min-width: $lg) {
            max-height: 50px;
        }
    }

    &__name:hover {
        color: $blue;
    }

    &__property {
        margin-bottom: 25px;
        overflow: hidden;
        font-family: $font;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.36;
        color: $communication-add-color;
    }

    &__property-item {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__property-value {
        @include field-reset();
        display: inline-block;
        vertical-align: top;
        padding-right: 15px;
    }

    &__color {
        display: inline-flex;
        vertical-align: top;
        align-items: center;
        height: 25px;
        border-radius: 3px;
        border: 1px solid $border-color;
        overflow: hidden;
    }

    &__color-img {
        overflow: hidden;
        height: 25px;
        width: 25px;
        color: $border-color;
        font-size: 0;
    }

    &__value {
        padding: 0 10px;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.33;
        color: $extra-text-color;
    }

    &__count-container {
        display: inline-block;
        vertical-align: top;
        padding-right: $add-to-cart-action-padding + $add-to-cart-action-item-width-mobile + 5px;
        @media (min-width: $sm) {
            padding-right: $add-to-cart-action-padding + $add-to-cart-action-item-width-sm + 5px;
        }
        @media (min-width: $lg) {
            padding-right: 0;
        }
    }

    &__count {
        display: inline-flex;
        vertical-align: middle;
        margin-right: 15px;
        input {
            height: $basket-product-cound-height;
            width: 50px;
            outline: none;
            border: none;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.33;
            color: $main-color;
            text-align: center;
            background: transparent;
            -moz-appearance: textfield;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        @media (min-width: $lg) {
            display: flex;
            margin-right: 0;
        }
    }

    &__minus,
    &__plus {
        width: $basket-product-cound-height;
        height: $basket-product-cound-height;
        border: 1px solid $border-color;
        background: transparent;
        outline: none;
        font-size: 25px;
        font-weight: 400;
        cursor: pointer;
        padding-bottom: 5px;
    }

    &__price-one {
        display: inline-block;
        vertical-align: middle;
        padding: 5px 0 5px 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.36;
        text-align: left;
        color: $extra-text-color;
        @media (min-width: $lg) {
            display: block;
            text-align: center;
            padding-bottom: 0;
        }
    }

    &__action {
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 0 0 $add-to-cart-action-padding $add-to-cart-action-padding;
        background: $white;
        transition: 0.1s ease-in;
    }

    &__action-item {
        position: relative;
        display: block;
        width: $add-to-cart-action-item-width-mobile;
        height: $add-to-cart-action-item-width-mobile;
        margin-bottom: 10px;
        font-size: 0;
        line-height: $add-to-cart-action-item-width-mobile;
        text-align: center;
        border-radius: 3px;
        border: 1px solid $extra-text-color;
        background: $white;
        svg {
            vertical-align: middle;
            fill: $extra-text-color;
            width: 15px;
            height: 15px;
        }
        @media (min-width: $sm) {
            width: $add-to-cart-action-item-width-sm;
            height: $add-to-cart-action-item-width-sm;
            line-height: $add-to-cart-action-item-width-sm;
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__action-item:hover::after {
        content: "";
        position: absolute;
        display: block;
        z-index: 10;
        top: 50%;
        left: -$action-item-pseudo-width - 12px;
        transform: translateY(-50%);
        width: $action-item-pseudo-width;
        height: 25px;
        padding: 0 8px;
        background: $extra-text-color;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
        color: $white;
    }

    &__action-item--favorite:hover::after {
        content: "В избранное";
    }

    &__action-item--compare:hover::after {
        content: "К сравнению";
    }

    &__action-item:last-child {
        margin-bottom: 0;
    }

    &__action-item:hover {
        border-color: $blue;
        background: $blue;
        svg {
            fill: $white;
        }
    }

    &__property-container {
        padding-top: 30px;
    }

    &__prop-section {
        margin-bottom: 10px;
    }

    &__prop-section:last-child {
        margin-bottom: 0;
    }

    &__sub-title {
        @include field-reset();
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        color: $main-color;
        cursor: pointer;
        svg {
            margin-left: 10px;
            fill: $main-color;
            transition: 0.3s ease;
        }
    }

    &__title.active {
        svg {
            transform: rotate(180deg);
        }
    }

    &__list {
        @include order-reset();
        overflow: hidden;
        max-height: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        transition: 0.3s ease;
    }

    &__list.active {
        max-height: none;
    }

    &__item {
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.33;
        text-align: left;
        color: $extra-text-color;
    }

    &__color {
        display: inline-flex;
        vertical-align: top;
        align-items: center;
        height: 25px;
        border-radius: 3px;
        border: 1px solid $border-color;
        overflow: hidden;
    }

    &__color-img {
        overflow: hidden;
        height: 25px;
        width: 25px;
        color: $border-color;
        font-size: 0;
    }

    &__color-value {
        padding: 0 10px;
    }

//Обычные свойства----------
    &__item-prop {
        display: inline-flex;
        vertical-align: top;
        align-items: center;
        height: 25px;
        padding: 0 10px;
        border-radius: 3px;
        border: 1px solid $border-color;
    }

//Активность свойст---------
    &__color,
    &__item-prop {
        cursor: pointer;
        transition: 0.3s ease;
    }

    &__color:hover,
    &__item-prop:hover {
        border-color: $blue;
        transition: 0.3s ease;
    }

    &__color.active,
    &__item-prop.active {
        border-color: $blue;
        cursor: default;
    }

    &__color.active:hover,
    &__item-prop.active:hover {
        border-color: $blue;
        cursor: default;
    }

    &__bottom-line {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 20px;
        padding: $grid-padding;
        background: $white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        @media (min-width: $md) {
            flex-wrap: nowrap;
        }
    }

    &__result {
        margin-bottom: 15px;
        width: 100%;
        p {
            @include field-reset();
            font-size: 18px;
            font-weight: 600;
            line-height: 1.33;
            color: $main-color;
        }
        span {
            color: $green;
            font-weight: 700;
        }
        @media (min-width: $md) {
            width: auto;
            padding-right: 20px;
            margin-bottom: 0;
        }
    }

    &__result-btns {
        width: 100%;
        @media (min-width: $md) {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
            width: auto;
        }
    }

    &__btn {
        width: 100%;
        margin-bottom: 15px;
        @media (min-width: $md) {
            width: auto;
            margin-bottom: 0;
        }
    }

    &__btn:last-child {
        margin-bottom: 0;
        @media (min-width: $md) {
            margin-left: 20px;
        }
    }

    &__delivery-line {
        padding: $grid-padding;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        background: $white;
    }

    &__delivery {
        width: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 15px;
        svg {
            flex-shrink: 0;
            margin-right: 10px;
            fill: $blue;
        }
        @media (min-width: $md) {
            justify-content: flex-start;
            width: auto;
            margin-bottom: 0;
        }
        @media (min-width: $lg) {
            border: none;
            display: flex;
            align-items: center;
            svg {
                margin-right: 10px;
            }
        }
    }

    &__pay-delivery,
    &__free-delivery {
        @include field-reset();
        font-size: 18px;
        font-weight: 600;
        line-height: 1.30;
        color: $main-color;
        text-align: left;
        span {
            font-weight: 700;
            color: $green;
        }
    }

    &__pay-delivery.hide,
    &__free-delivery.hide {
        display: none;
    }

    &__delivery-btn {
        width: 100%;
        margin: 0 auto;
        @media (min-width: $md) {
            width: auto;
        }
    }
}