.best-message {
    margin-bottom: 20px;
    background: $white;
    border: 1px solid $border-color;
    @media (min-width: $lg) {
        margin-bottom: 40px;
        border: none;
    }

    &__container {}

    &__title {
        @include field-reset();
        padding: 15px;
        font-size: 25px;
        font-weight: 400;
        line-height: 1.32;
        color: $extra-text-color;
        border-bottom: 1px solid $border-color;
        @media (min-width: $lg) {
            padding: 30px;
        }
    }
//Блок звезд с высшей оценкой
    &__brief {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 15px;
        @media (min-width: $lg) {
            flex-wrap: nowrap;
            padding: 30px;
        }
    }

    &__brief-value {
        flex-shrink: 0;
        display: block;
        padding-right: 30px;
        font-size: 80px;
        font-weight: 400;
        line-height: 1.33;
        color: $green;
    }

    &__star-view {
        flex-shrink: 0;
        @media (min-width: $md) {
            padding-right: 30px;
        }
    }

    &__stars {
        width: 150px;
        height: 35px;
    }

    &__stars-empty,
    &__stars-fill {
        width: 150px;
        height: 35px;
        svg {
            width: 150px;
            height: 35px;
        }
    }

    &__brief-text {
        @include field-reset();
        padding-bottom: 20px;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.38;
        color: $communication-add-color;
        @media (min-width: $md) {
            padding-bottom: 0;
            width: 50%;
            flex-grow: 1;
        }
        @media (min-width: $lg) {
            padding-right: 30px;
            flex-grow: 0;
            flex-shrink: 1;
            width: 50%;
        }
    }

    &__go-to  {
        flex-shrink: 0;
        width: 100%;
        @media (min-width: $lg) {
            width: auto;
        }
    }
}