.discuss {
    margin-bottom: 20px;
    background: $white;
    border: 1px solid $border-color;
    overflow: hidden;
    @media (min-width: $lg) {
        margin-bottom: 40px;
        border: none;
    }

    &__container {}

    &__header {
        padding: 15px;
        border-bottom: 1px solid $border-color;
        @media (min-width: $lg) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &__sort {
        margin-bottom: 0;
    }

    &__main-block {
        padding: 15px;
        @media (min-width: $lg) {
            padding: 30px;
        }
    }

    &__sub-title {
        @include field-reset();
        margin-bottom: 25px;
        font-size: 25px;
        font-weight: 400;
        font-stretch: normal;
        line-height: 1.32;
        color: $extra-text-color;
    }
}