.product-slider {
    padding-bottom: 15px;

    * {
        outline: none;
    }
    @media (min-width: $md) {
        order: -1;
    }
    @media (min-width: $lg) {
        order: 0;
    }

    &__container {
        padding: 0 $grid-padding;
    }

    &__for-list {
        @include order-reset();
        height: 400px;
        overflow: hidden;
    }

    &__for-item {
        a {
            display: block;
        }
    }

    &__nav-list {
        @include order-reset();
        margin: 0 -5px;
        overflow: hidden;
    }

    &__nav-item {
        padding: 0 5px;
        a {
            padding: 5px;
            height: 75px;
            display: block;
            text-align: center;
            border: 1px solid $border-color;
            background: $white;
            transition: 0.3s ease;
        }
        a:hover {
            border-color: $blue;
        }
        img {
            max-height: 100%;
            max-width: 100%;
            display: inline-block;
            vertical-align: middle;
            margin: 0 auto;
        }
    }

    &__nav-item.slick-current {
        a {
            border-color: $blue;
        }
    }
}