.product-top-line {
    padding-bottom: 25px;
    @media (min-width: $md) {
        order: -1;
    }
    @media (min-width: $lg) {
        order: 0;
    }

    &__container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__stars {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    &__list {
        @include order-reset();
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        flex-shrink: 0;
        margin-right: 20px;
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        svg {
            display: block;
            margin-right: 5px;
            width: 16px;
            height: 16px;
            fill: $blue;
        }
        @media (min-width: $md) {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.36;
            text-align: left;
            color: $extra-text-color;
        }
    }

    &__link::after {
        content: attr(data-hover);
    }

    &__link.added::after {
        content: attr(data-status);
        color: $blue;
    }

    &__item:last-child {
        margin-right: 0;
    }
}