.product-slider {
    padding-bottom: 15px;

    * {
        outline: none;
    }
    @media (min-width: $md) {
        order: -1;
    }
    @media (min-width: $lg) {
        order: 0;
    }

    &__for-list {
        @include order-reset();
        margin-bottom: 0;
        padding-bottom: 40px;
        height: 390px;
        overflow: hidden;
        @media (min-width: $md) {
            height: 425px;
            padding-bottom: 20px;
        }
    }

    &__for-item {
        height: 350px;
        a {
            padding: 10px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $white;
            transition: 0.3s ease;
        }
        img {
            max-height: 100%;
            max-width: 100%;
            display: inline-block;
            vertical-align: middle;
        }
        @media (min-width: $md) {
            height: 400px;
        }
    }

    &__nav-list {
        display: none;
        @media (min-width: $md) {
            @include order-reset();
            display: block;
            margin: 0 -5px;
            height: 75px;
            overflow: hidden;
        }
    }

    &__nav-item {
        padding: 0 5px;
        a {
            padding: 5px;
            height: 75px;
            display: block;
            text-align: center;
            border: 1px solid $border-color;
            background: $white;
            transition: 0.3s ease;
        }
        a:hover {
            border-color: $blue;
        }
        img {
            max-height: 100%;
            max-width: 100%;
            display: inline-block;
            vertical-align: middle;
            margin: 0 auto;
        }
    }

    &__nav-item.slick-current {
        a {
            border-color: $blue;
        }
    }
}