.product-order {
    padding-bottom: 15px;
    > *:last-child {
        margin-bottom: 0;
    }
    @media (min-width: $md) {
        order: -1;
    }
    @media (min-width: $lg) {
        order: 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        padding: 20px $grid-padding;
        border-radius: 5px;
        border: 1px solid $border-color;
        background: $white;
    }

    &__container:last-child {
        margin-bottom: 0;
    }

    &__price {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-bottom: 20px;
    }
//блок цен
    &__value {
        width: auto;
        padding-right: 10px;
        line-height: 1.30;
        color: $main-color;
    }

    &__old-price {
        vertical-align: middle;
        padding-right: 5px;
        font-size: 16px;
        font-weight: 400;
        text-decoration: line-through;
    }

    &__current-price {
        vertical-align: middle;
        font-size: 30px;
        font-weight: 700;
    }

    &__profit {
        display: block;
        font-size: 14px;
        font-weight: 600;
        color: $red;
    }
//Шильдики выгоды
    &__features {
        position: static;
        flex-direction: row;
        padding: 0;
        padding-top: 10px;
    }
//Блок подсчета + кнопка
    &__cart {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;
    }
//добавка/убавка количества
    &__count {
        display: flex;
        margin-right: 15px;
        input {
            height: $common-item-height;
            width: 50px;
            outline: none;
            border: none;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.33;
            color: $main-color;
            text-align: center;
            background: transparent;
            -moz-appearance: textfield;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    &__minus,
    &__plus {
        width: $common-item-height;
        height: $common-item-height;
        border: 1px solid $border-color;
        background: transparent;
        outline: none;
        font-size: 25px;
        font-weight: 400;
        cursor: pointer;
        padding-bottom: 5px;
    }

    &__btn {
        padding: 0 5px;
        flex-grow: 1;
        font-size: 18px;
        font-weight: 700;
        color: $main-color;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        svg {
            display: none;
        }
    }
//btn loader
    &__btn.active {
        font-size: 0;
        vertical-align: middle;
        svg {
            fill: $main-color;
            display: inline-block;
            vertical-align: middle;
        }
    }
//Список особенностей
    &__list {
        @include order-reset();
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &__item {
        position: relative;
        display: flex;
        align-items: flex-start;
        margin-bottom: 15px;
        padding-left: 40px;
        svg {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            fill: $blue;
        }
        p {
            @include field-reset();
            font-size: 14px;
            font-weight: 400;
            line-height: 1.85;
            color: $extra-text-color;
        }
    }

    &__item:last-child {
        margin-bottom: 0;
    }
//Способы оплаты
    &__payment-list {
        @include order-reset();
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &__payment-item {
        flex-shrink: 0;
        margin-bottom: 5px;
        margin-right: 5px;
        border: 1px solid $border-color;
        border-radius: 5px;
        overflow: hidden;
        svg {
            width: 60px;
            height: 30px;
        }
    }
//Вкусы (жидкости/аромки)
    &__taste {
        @include order-reset();
        display: flex;
    }

    &__taste-item {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        width: calc(100% / 3);
        min-height: 105px;
        border: 1px solid $border-color;
        border-radius: 5px;
        background: $white;
        text-align: center;
        img {
            margin-bottom: 10px;
        }
        span {
            font-size: 12px;
            font-weight: 400;
            line-height: 1.33;
            color: $main-color;
        }
    }

    &__taste-item:last-child {
        margin-right: 0;
    }
}

/* ----------ТОВАРА НЕТ В НАЛИЧИИ---------- */
.product-order--out-of-stock {
    .product-order__price {
        padding-bottom: 0;
        @media (min-width: $md) {
            border-bottom: none;
        }
    }
    .product-order__value {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-right: 0;
    }
    .product-order__current-price {
        display: block;
        text-align: center;
    }
    .product-order__price-info {
        display: block;
        padding-bottom: 15px;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.30;
        color: $communication-add-color;
        border-bottom: 1px solid $border-color;
        @media (min-width: $md) {
            border-bottom: none;
        }
    }
    .product-order__no-available {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $border-color;
        svg {
            fill: $red;
            margin-right: 10px;
        }
        span {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.36;
            color: $extra-text-color;
        }
        @media (min-width: $md) {
            order: 1;
            padding-bottom: 0;
            border-bottom: none;
            border-top: 1px solid $border-color;
        }
    }
    .product-order__btn {
        width: 100%;
        margin-top: 15px;
        color: $white;
        @media (min-width: $md) {
            margin-top: 0;
            margin-bottom: 15px;
        }
    }
}

/* ----------ТОВАРА СНЯТ С ПРОИЗВОДСТВА---------- */
.product-order--discontinued {
    .product-order__price {
        padding-bottom: 0;
        @media (min-width: $md) {
            border-bottom: none;
        }
    }
    .product-order__value {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-right: 0;
    }
    .product-order__current-price {
        display: block;
        text-align: center;
    }
    .product-order__price-info {
        display: block;
        padding-bottom: 15px;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.30;
        color: $communication-add-color;
        border-bottom: 1px solid $border-color;
        @media (min-width: $md) {
            border-bottom: none;
        }
    }
    .product-order__no-available {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 0;
        border-bottom: none;
        svg {
            fill: $red;
            margin-right: 10px;
        }
        span {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.36;
            color: $extra-text-color;
        }
        @media (min-width: $md) {
            order: 1;
        }
    }
}