.product-top-line {
    padding-bottom: 15px;
    @media (min-width: $md) {
        order: -1;
    }
    @media (min-width: $lg) {
        order: 0;
    }

    &__container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__stars {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    &__list {
        @include order-reset();
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        flex-shrink: 0;
        margin-right: 20px;
        a {
            display: block;
            font-size: 0;
        }
        svg {
            display: block;
            width: 16px;
            height: 16px;
            fill: $blue;
        }
    }

    &__item:last-child {
        margin-right: 0;
    }
}