.tabs {
    padding-top: 20px;
    padding-bottom: 20px;

    &__col {
        margin-bottom: 20px;
    }

    &__col:last-child {
        margin-bottom: 0;
    }

    &__container {
        background: $white;
        border: 1px solid $border-color;
        @media (min-width: $lg) {
            border: none;
        }
    }
//Список табов
    &__tabs-list {
        @include order-reset();
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        @media (min-width: $md) {
            border-bottom: 1px solid $border-color;
        }
    }

    &__tabs-item {
        flex-grow: 1;
        width: 50%;
        button {
            padding: 15px;
            width: 100%;
            outline: none;
            border: none;
            border-bottom: 1px solid $border-color;
            background: transparent;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.30;
            text-align: center;
            color: $extra-text-color;
            cursor: pointer;

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            transition: 0.3s ease;
        }
        button.active {
            background: $delivery-active-btn;
            cursor: default;
            pointer-events: none;
        }
        button:hover {
            background: $delivery-active-btn;
        }
        span {
            color: $blue;
        }
        @media (min-width: $md) {
            width: 33.33%;
            button {
                border-bottom: none;
            }
        }
        @media (min-width: $lg) {
            flex-grow: 0;
            width: auto;
            button {
                padding-right: 30px;
                padding-left: 30px;
            }
        }
    }
//Блок контента
    &__content {
        display: none;
    }

    &__content.active {
        display: block;
    }
//Описание товара
    &__article {
        padding: 15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.38;
        color: $communication-add-color;
        > *:last-child {
            margin-bottom: 0;
        }
        a {
            color: $blue;
        }
        h1, h2, h3, h4, h5, h6, p, ul, ol {
            @include field-reset();
            margin-bottom: 15px;
        }
        ul, ol {
            list-style-type: none;
        }
        @media (min-width: $md) {
            padding: 30px;
        }
    }

    &__article-title {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.33;
        color: $main-color;
    }
//Характеристики товара
    &__property-list {
        @include order-reset();
        width: 100%;
        padding: 15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.38;
        color: $communication-add-color;
        @media (min-width: $md) {
            padding: 30px;
        }
    }

    &__property-item {
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding-bottom: 10px;
        @media (min-width: $md) {

        }
    }

    &__property-item:last-child {
        padding-bottom: 0;
    }

    &__property-name {
        flex-grow: 1;
        max-width: 60%;
        display: flex;
        align-items: flex-end;
        padding-right: 7px;
        font-weight: 600;
        color: $extra-text-color;
        span {
            display: block;
        }
        hr {
            display: none;
        }
        @media (min-width: $md) {
            max-width: 70%;
            hr {
                @include field-reset();
                display: block;
                margin-bottom: 5px;
                flex-grow: 1;
                height: 0;
                border: none;
                border-bottom: 1px dotted $communication-add-color;
            }
        }
    }

    &__property-value {
        max-width: 40%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        @media (min-width: $md) {
            max-width: 30%;
            padding-left: 15px;
        }
    }
}