.unavailable {
    display: none;
    font-family: $font;
    position: fixed;
    z-index: 1000;
    overflow: auto;
    @include full-absolute();
    top: 0;
    background-color: transparentize($black, 0.5);

    &.opened {
        display: block;
    }

    &__container {
        max-height: 100vh;
        overflow: auto;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - #{$two-grid-padding});
        margin: 0 auto;
        padding: $grid-padding;
        background: $white;
        @media (min-width: $sm) {
            width: 475px;
        }
    }

    &__top-line {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 (-$grid-padding);
        margin-top: -$grid-padding;
        position: relative;
        border-bottom: 1px solid $border-color;
        padding: 0 $grid-padding;
        height: 75px;
    }

    &__close {
        padding: 0;

        display: block;
        width: 50px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 0;
        text-align: right;
        cursor: pointer;
        svg {
            fill: $add-text-color;
        }
    }

    &__title {
        @include field-reset();
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        color: $main-color;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.38;
        color: $communication-add-color;
    }

    &__label {
        position: relative;
        display: block;
        padding-bottom: $profile-input-padding-botom;
        .error-message {
            display: none;
        }
    }

    &__input {
        width: 100%;
        height: $common-item-height;
        padding: 0 10px;
        border: 1px solid $border-color;
        border-radius: 5px;
        line-height: $common-item-height;
        outline: none;
        box-shadow: none;
        transition: 0.3s ease;
    }

    &__input:hover,
    &__input:focus {
        border-color: $blue;
    }

    &__btns-block {
        width: 100%;
    }

    &__btn {
        width: 100%;
        height: $common-item-height;
        line-height: $common-item-height;
    }

    &__btn:last-child {
        margin-bottom: 0;
        @media (min-width: $sm) {

        }
    }
//валидация формы
    &__label.invalid {
        input,
        textarea {
            border-color: $red;
        }
        .error-message {
            display: block;
            position: absolute;
            overflow: hidden;
            height: $profile-input-padding-botom;
            position: absolute;
            left: 10px;
            bottom: 0;
            font-size: 12px;
            line-height: $profile-input-padding-botom - 5px;
            font-weight: 400;
            color: $red;
        }
        .input-icon {
            display: block;
            position: absolute;
            top: 11px;
            left: auto;
            bottom: auto;
            right: 13px;
            transform: none;
            overflow: hidden;
            width: 17px;
            height: 17px;
            border: 1px solid $red;
            border-radius: 50%;
        }
        .input-icon::before {
            display: block;
            background: $white;
            width: 100%;
            height: 100%;
            content: "!";
            font-size: 10px;
            line-height: 15px;
            color: $red;
            text-align: center;

        }
    }

    &__label.valid {
        input,
        textarea {
            border-color: $green;
        }
        .error-message {
            display: none;
        }
        .input-icon {
            display: block;
            position: absolute;
            font-size: 0;
            top: 20%;
            left: auto;
            bottom: auto;
            right: 13px;
            transform: rotate(135deg);
            width: 15px;
            height: 8px;
            border: 2px solid $green;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
    }
}