.features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    padding: 15px;
    font-size: 0;

    &__item {
        padding: 1px 6px;
        margin-bottom: 10px;
        margin-right: 3px;
        text-align: center;
        font-family: $font;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.36;
        color: $red;
        background: $white;
        border: 1px solid $red;
        border-radius: 3px;
    }

    &__item--green {
        color: $green;
        border: 1px solid $green;
    }

    &__item:last-child {
        margin-bottom: 0;
        margin-right: 0;
    }
}