.news-all {
    font-family: $font;

    &__wrapper {
        display: flex;
        margin-bottom: 20px;
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: $news-all-container-padding;
        background: $white;
        outline: 1px solid $border-color;
        @media (min-width: $lg) {
            outline: none;
            padding-left: $news-all-lg-img-width + $news-all-container-padding;
            height: $news-all-lg-img-height;
        }
    }

    &__container::after {
        @include pseudo();
        bottom: 0;
        left: 0;
        width: 0;
        height: 5px;
        background: $blue;
        transition: 0.2s ease;
    }

    &__container:hover::after {
        width: 100%;
        transition: 0.3s ease;
    }

    &__container:hover {
        box-shadow: 0 0 15px 0 transparentize($main-color, 0.9);
    }

    &__img {
        margin: -$news-all-container-padding;
        margin-bottom: $news-all-container-padding;
        display: none;
        img {}
        @media (min-width: $lg) {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: $news-all-lg-img-width;
            margin: 0;
        }
    }

    &__date {
        @include field-reset();
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.36;
        color: $main-color;
        svg {
            fill: $blue;
            margin-right: 10px;
        }
    }

    &__title {
        display: block;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.33;
        color: $extra-text-color;
        @media (min-width: $sm) {
            font-size: 20px;
        }
        @media (min-width: $lg) {
            font-size: 24px;
        }
    }

    &__text {
        @include field-reset();
        margin-top: auto;
        margin-bottom: 15px;
        max-height: 125px;
        overflow: hidden;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: $communication-add-color;

        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        @media (min-width: $sm) {
            max-height: 105px;
            font-size: 14px;
        }
        @media (min-width: $lg) {
            max-height: 50px;
            font-size: 16px;
            -webkit-line-clamp: 2;
        }
    }

    &__view {
        @media (min-width: $lg) {
            order: 2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: auto;
        }
    }

    &__btn {
        width: 100%;
        @media (min-width: $lg) {
            width: auto;
            min-width: 110px;
        }
    }

    &__view-icon {
        display: none;
        @media (min-width: $lg) {
            display: block;
            svg {
                vertical-align: middle;
                margin-right: 3px;
                fill: $blue;
                width: 20px;
                height: 15px;
            }
            span {
                vertical-align: middle;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.36;
                color: $main-color;
            }
        }
    }
//блок пагинации
    &__pagination {
        margin-bottom: 20px;
    }

    &__show-btn {
        width: 100%;
        margin-bottom: 20px;
    }
}