.btn {
    display: inline-block;
    vertical-align: top;
    height: $btn-height;
    padding: 0 10px;
    border: 1px solid $blue;
    line-height: $btn-height;
    text-align: center;
    font-family: $font;
    font-size: 14px;
    font-weight: 600;
    color: $blue;
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.3s color ease, 0.3s border ease, 0.3s background ease;

    &:hover {
        background-color: $blue;
        color: $white;
    }

    &--color-reverse {
        color: $white;
        background-color: $blue;
    }

    &--color-reverse:hover {
        background-color: $white;
        color: $blue;
    }
}
//серая кнопка
.silver-btn {
    display: inline-block;
    vertical-align: top;
    height: $add-btn-height;
    padding: 0 20px;
    border: 1px solid $border-color;
    line-height: $add-btn-height;
    font-family: $font;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: $add-btn-color;
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.3s color ease, 0.3s border ease, 0.3s background ease;

    &:hover {
        background-color: $main-color;
        border-color: $main-color;
        color: $white;
    }
}

.add-btn {
    display: inline-block;
    vertical-align: top;
    height: $add-btn-height;
    padding: 0 20px;
    border: 1px solid $border-color;
    line-height: $add-btn-height;
    font-family: $font;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: $add-btn-color;
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.3s color ease, 0.3s border ease, 0.3s background ease;

    &:hover {
        border-color: $blue;
        color: $blue;
    }
}

.dark-btn {
    display: inline-block;
    vertical-align: top;
    height: $add-btn-height;
    padding: 0 20px;
    border: none;
    line-height: $add-btn-height;
    font-family: $font;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: $white;
    background-color: $black;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.3s color ease, 0.3s border ease, 0.3s background ease;

    &:hover {
        background: lighten($black, 20%);
    }
}

.red-btn {
    display: inline-block;
    vertical-align: top;
    height: $add-btn-height;
    padding: 0 20px;
    border: 1px solid $add-red;
    line-height: $add-btn-height;
    font-family: $font;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: $add-red;
    background-color: $white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.3s color ease, 0.3s border ease, 0.3s background ease;

    &:hover {
        background: $add-red;
        color: $white;
    }
}

.yellow-btn {
    display: inline-block;
    vertical-align: top;
    height: $add-btn-height;
    padding: 0 20px;
    border: none;
    line-height: $add-btn-height;
    font-family: $font;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: $main-color;
    background-color: $yellow;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.3s color ease, 0.3s border ease, 0.3s background ease;

    &:hover {
        opacity: 0.8;
    }
}