.btn {
    display: inline-block;
    vertical-align: top;
    height: $btn-height;
    padding: 0 10px;
    border: 1px solid $blue;
    line-height: $btn-height;
    text-align: center;
    font-family: $font;
    font-size: 14px;
    font-weight: 600;
    color: $blue;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s background-color ease, 0.3s color ease;

    &:hover {
        background-color: $blue;
        color: $white;
    }
}
//серая кнопка
.silver-btn {
    display: inline-block;
    vertical-align: top;
    height: $add-btn-height;
    padding: 0 20px;
    border: 1px solid $border-color;
    line-height: $add-btn-height;
    font-family: $font;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: $add-btn-color;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s background-color ease, 0.3s color ease, 0.3s border-color ease;

    &:hover {
        background-color: $main-color;
        border-color: $main-color;
        color: $white;
    }
}