.city-pick-over {
    display: none;
    position: fixed;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
    @include full-absolute();
    top: 0;
    background-color: transparentize($black, 0.5);

    &.opened {
        display: block;
    }

    &__main-wrapper {
        padding-top: 20px;
        max-height: 100vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - #{$two-grid-padding});
        max-width: 705px;
        margin: 0 auto;
        @media (min-width: $sm) {
            width: 475px;
        }
        @media (min-width: $lg) {
            width: 750px;
        }
    }

    &__container {
        overflow: auto;
        margin-bottom: 20px;
        border-radius: 5px;
        padding: $grid-padding;
        background: $white;
    }

    &__top-line {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 (-$grid-padding);
        margin-top: -$grid-padding;
        position: relative;
        border-bottom: 1px solid $border-color;
        padding: 0 $grid-padding;
        height: 75px;
    }

    &__close {
        padding: 0;

        display: block;
        width: 50px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 0;
        text-align: right;
        cursor: pointer;
        svg {
            fill: $add-text-color;
        }
    }

    &__title {
        @include field-reset();
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        color: $main-color;
    }

    &__wrapper {
        padding-top: 20px;
    }

    &__input {
        position: relative;
        margin-bottom: 20px;
        input {
            @include placeholder {
              color: $communication-add-color;
            }
            @include placeholder-f {
              color: transparent;
            }
            width: 100%;
            height: $common-item-height;
            padding: 0 10px;
            padding-right: $city-pick-over-search-svg-size + 10px;
            border: 1px solid $border-color;
            border-radius: 5px;
            line-height: $common-item-height;
            outline: none;
            box-shadow: none;
            transition: 0.3s ease;
        }
        input:hover,
        input:focus {
            border-color: $blue;
        }
        svg {
            fill: $border-color;
            position: absolute;
            top: ($common-item-height / 2) - ($city-pick-over-search-svg-size / 2);
            right: 5px;
            width: $city-pick-over-search-svg-size;
            height: $city-pick-over-search-svg-size;
            pointer-events: none;
        }
    }

    &__list {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: none;
    }

    &__item {
        button {
            display: block;
            padding: 0 6px;
            font-size: 14px;
            font-weight: 600;
            line-height: 2.14;
            color: $extra-text-color;
            background: transparent;
            outline: none;
            border: none;
            transition: 0.3s ease;
            cursor: pointer;
        }
        button:hover {
            color: $blue;
        }
    }

    &__item:last-child {
        display: none;
        @media (min-width: $lg) {
            display: block;
        }
    }
}