.city-pick {
    @include nav-title-block();
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: $lg) {
        position: static;
        min-height: 0;
        height: 100%;
        padding: 0;
        background: transparent;
        border-bottom: none;
    }

    &__btn {
        width: 90px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        pointer-events: none;
        @media (min-width: $lg) {
            margin-right: 20px;
            pointer-events: auto;
        }
    }

    &__change {
        font-family: $font;
        font-size: 14px;
        font-weight: 400;
        color: $blue;
        cursor: pointer;
        @media (min-width: $lg) {
            display: none;
            pointer-events: none;
        }
   }

   &__change::before {
      @include pseudo();
      @include full-absolute();
      background: transparent;
      @media (min-width: $lg) {
          display: none;
      }
   }
}