.communication-type {
    @include full-absolute();
    display: none;
    position: fixed;
    z-index: 1000;
    overflow: auto;
    font-family: $font;
    background: transparentize($black, 0.5);
    @media (min-width: $lg) {
        display: flex;
        position: static;
        height: $gradient-breakpoint-desktop;
        padding: 0;
        overflow: visible;
        background: transparent;
    }

    &.opened {
        display: block;
        @media (min-width: $lg) {
            display: flex;
        }
    }

    &__container {
        max-height: 100vh;
        overflow: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - #{$two-grid-padding});
        margin: 0 auto;
        padding: $grid-padding;
        background: $white;
        border-radius: 5px;
        @media (min-width: $sm) {
            width: 475px;
        }
        @media (min-width: $lg) {
            margin: 0;
            overflow: visible;
            max-height: none;
            transform: none;
            position: static;
            width: auto;
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0;
        }
    }

    &__top-line {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 (-$grid-padding);
        margin-top: -$grid-padding;
        position: relative;
        border-bottom: 1px solid $border-color;
        padding: 0 $grid-padding;
        height: 75px;
        @media (min-width: $lg) {
            display: none;
        }
    }

    &__close {
        padding: 0;
        display: block;
        width: 50px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 0;
        text-align: right;
        cursor: pointer;
        svg {
            fill: $add-text-color;
        }
    }

    &__title {
        @include field-reset();
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        color: $main-color;
    }

    &__text {
        @include field-reset();
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.38;
        color: $communication-add-color;
        span {
            font-weight: 700;
        }
        @media (min-width: $lg) {
            display: none;
        }
    }

    &__list {
        @include order-reset();
        @media (min-width: $lg) {
            display: flex;
            align-items: center;
            height: 100%;
        }
    }

    &__item {
        height: $mobile-communication-item-height;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.38;
        color: $white;
        @media (min-width: $lg) {
            height: auto;
            margin-right: 30px;
            margin-bottom: 0;
            font-size: 0;
        }
        @media (min-width: $tp) {
            margin-right: 15px;
        }
        @media (min-width: $xl) {
            margin-right: 30px;
        }
    }

    &__item:last-child {
        margin-bottom: 0;
        @media (min-width: $lg) {
            margin-right: 0;
        }
    }

    &__link {
        position: relative;
        display: block;
        padding-left: 50px;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        line-height: $mobile-communication-item-height;
        cursor: pointer;
        svg {
            width: $mobile-communication-item-height;
            height: $mobile-communication-item-height;
            position: absolute;
            left: 0;
        }
        @media (min-width: $lg) {
            padding-left: 0;
            line-height: 1.15;
            height: auto;
            svg {
                position: static;
                width: 32px;
                height: 32px;
            }
        }
    }

    &__link--vk {
        background: $vk-color;
        svg {
            fill: $vk-color;
        }
        @media (min-width: $lg) {
            background: transparent;
        }
    }

    &__link--telegram {
        background: $telega-color;
        svg {
            fill: $telega-color;
        }
        @media (min-width: $lg) {
            background: transparent;
        }
    }

    &__link--call {
        background: $black;
        svg {
            fill: $black;
        }
        @media (min-width: $lg) {
            background: transparent;
        }
    }

    &__close {
        position: absolute;
        top: 7px;
        right: 5px;
        width: 50px;
        height: 50px;
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 0;
        background: transparent;
        text-align: center;
        svg {
            width: 25px;
            height: 25px;
            fill: $communication-add-color;
        }
        @media (min-width: $lg) {
            display: none;
        }
    }
}