.communication {
    @media (min-width: $lg) {
        display: none;
    }

    &__title {
        @include nav-title-block();
        padding-top: 30px;
        font-family: $font;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.8px;
        color: $add-text-color;
        @media (min-width: $lg) {
            display: none;
        }
    }

    &__list {
        @include order-reset();
    }

    &__item {
        min-height: $mobile-header-nav-item-height;
        display: flex;
        font-family: $font;
        font-size: 16px;
        font-weight: 600;
        color: $extra-text-color;
        a {
            cursor: pointer;
        }
    }

    &__item--bold {
        color: $communication-add-color;
        span {
            font-weight: 700;
            color: $extra-text-color;
        }
    }

    &__item-link {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 $grid-padding;
        background: $white;
        border-bottom: 1px solid $border-color;
        transition: 0.3s ease;
        div {
            padding: 5px 0;
        }
        span {
            transition: 0.3s ease;
        }
        svg {
            flex-shrink: 0;
            margin-left: auto;
            fill: $border-color;
            transform: rotate(-90deg);
            transition: 0.3s ease;
        }
        @media (min-width: $lg) {
            border-bottom: none;
            svg {
                display: none;
            }
        }
    }

    &__item-link:hover {
        color: $blue;
        span {
            color: $blue;
        }
        svg {
            fill: $blue;
        }
    }
}