.communication-over {
    display: none;
    position: fixed;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
    @include full-absolute();
    top: 0;
    background-color: transparentize($black, 0.5);

    &.opened {
        display: block;
    }

    &__wrapper {
        padding-top: 20px;
        max-height: 100vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - #{$two-grid-padding});
        max-width: 705px;
        margin: 0 auto;
        @media (min-width: $sm) {
            width: 475px;
        }
    }

    &__container {
        overflow: auto;
        margin-bottom: 20px;
        border-radius: 5px;
        padding: $grid-padding;
        background: $white;
    }

    &__top-line {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 (-$grid-padding);
        margin-top: -$grid-padding;
        position: relative;
        border-bottom: 1px solid $border-color;
        padding: 0 $grid-padding;
        height: 75px;
    }

    &__close {
        padding: 0;

        display: block;
        width: 50px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 0;
        text-align: right;
        cursor: pointer;
        svg {
            fill: $add-text-color;
        }
    }

    &__title {
        @include field-reset();
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        color: $main-color;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.38;
        color: $communication-add-color;
    }

    &__label {
        position: relative;
        display: block;
        padding-bottom: $profile-input-padding-botom;
        .error-message {
            display: none;
        }
    }

    &__input {
        @include placeholder {
          color: $communication-add-color;
        }
        width: 100%;
        height: $common-item-height;
        padding: 0 10px;
        border: 1px solid $border-color;
        border-radius: 5px;
        line-height: $common-item-height;
        outline: none;
        box-shadow: none;
        transition: 0.3s ease;
    }

    &__input:last-child {
        margin-bottom: 0;
    }

    &__input:hover,
    &__input:focus {
        border-color: $blue;
    }

    &__btn {
        width: 100%;
    }
//валидация формы
    &__label.invalid {
        input {
            border-color: $red;
        }
        .error-message {
            display: block;
            position: absolute;
            overflow: hidden;
            height: $profile-input-padding-botom;
            position: absolute;
            left: 10px;
            bottom: 0;
            font-size: 12px;
            line-height: $profile-input-padding-botom - 5px;
            font-weight: 400;
            color: $red;
        }
    }
}