.crumbs {
    display: none;
    @media (min-width: $lg) {
        @include order-reset();
        margin-bottom: 10px;
        display: block;
        font-family: $font;
        font-size: 0;
        color: $add-text-color;
    }

    &__item {
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding-right: $item-right-padding;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.15;
    }

    &__item::after {
        @include pseudo();
        content: "—";
        top: 0;
        right: 0;
        height: 100%;
        width: $item-right-padding;
        text-align: center;
    }

    &__item:last-child {
        padding-right: 0;
        a:hover {
            color: $add-text-color;
            cursor: auto;
        }
    }

    &__item:last-child::after {
        display: none;
    }

    &__link {
        transition: 0.3s color ease;
    }

    &__link:hover {
        color: $blue;
    }
}