.footer {
    margin-top: 30px;//---------------ВРЕМЕННО
    padding-top: 20px;
    background: $main-color;
    @media (min-width: $lg) {
        padding-top: 60px;
    }

    &__container {
        @include container();
    }
}