.footer {
    margin-top: 30px;//---------------ВРЕМЕННО
    padding-top: 20px;
    background: $main-color;
    @media (min-width: $lg) {
        padding-top: 60px;
    }

    &__container {
        @include container();
    }
/*
    &__separator {
        display: none;
        @media (min-width: $lg) {
            display: block;
            width: 100%;
            padding-bottom: 20px;
        }
        @media (min-width: $xl) {
            display: none;
        }
    } */
}