.goods-sliders {
    @media (min-width: $lg) {
        padding: 15px 0;
    }

    &__container {}

    &__item {}
//блок заголовка
    &__type {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        height: 70px;
        background: $white;
        border: 1px solid $border-color;
        border-bottom: none;
        @media (min-width: $lg) {
            border: none;
        }
    }

    &__title {
        @include field-reset();
        font-family: $font;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.35;
        color: $extra-text-color;
    }

    &__btn {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.36;
    }
}