.header-icons {
    order: -2;
    height: $gradient-breakpoint-mobile;
    margin-left: auto;
    @media (min-width: $md) {
        min-width: 30%;
    }
    @media (min-width: $lg) {
        order: 0;
        flex-grow: 1;
        max-width: 250px;
        min-width: 0;
        height: $gradient-breakpoint-desktop-end;
    }

    &__list {
        @include order-reset();
        display: flex;
        height: 100%;
        @media (min-width: $md) {
            justify-content: flex-end;
        }
        @media (min-width: $lg) {
            justify-content: flex-end;
            align-items: center;
        }
    }

    &__item {
        width: 50px;
        padding-top: 20px;
        font-size: 0;
        @media (min-width: $lg) {
            width: 30px;
            padding-top: 0;
            margin-right: 10px;
        }
    }

    &__item:last-child {
        @media (min-width: $lg) {
            margin-right: 0;
        }
    }

    &__item--hide-lg {
        @media (min-width: $lg) {
            display: none;
        }
    }

    &__item--hide-mob {
        display: none;
        @media (min-width: $lg) {
            display: block;
        }
    }

    &__item--cart {
        @media (min-width: $lg) {
            width: auto;
            a {
                width: auto;
                display: inline-block;
                svg {
                    display: inline-block;
                }

            }
            span {
                display: inline-block;
                font-family: $font;
                font-size: 14px;
                font-weight: 700;
                color: $white;
            }
        }
    }

    &__link {
        display: block;
        width: 30px;
        margin: 0 auto;
        text-align: center;
        svg {
            fill: $blue;
        }
        @media (min-width: $lg) {
            svg {
                fill: $white;
            }
        }
    }
}