.header {
    position: fixed;
    width: 100%;
    background-image: linear-gradient(180deg, $white $gradient-breakpoint-mobile, $blue $gradient-breakpoint-mobile);
    @media (min-width: $lg) {
        background-image: linear-gradient(180deg, $white $gradient-breakpoint-desktop, $blue $gradient-breakpoint-desktop);
    }

    &__container {
        @include container();
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 0 auto;
    }
//тоглер
    &__nav-tog {
        order: -2;
        height: $gradient-breakpoint-mobile;
        width: 22px;
        margin-right: 20px;
        padding-top: 20px;
        @media (min-width: $lg) {
            order: 0;
            display: none;
        }
    }

    &__nav-tog-btn {
        width: 22px;
        height: 22px;
        padding: 0;
        font-size: 0;
        background: $transparent;
        border: none;
        svg {
            height: 22px;
            width: 22px;
            fill: $blue;
        }
    }
//логотип
    &__logo {
        order: -2;
        height: $gradient-breakpoint-mobile;
        padding-top: 15px;
        @media (min-width: $sm) {
            padding-top: 19px;
        }
        @media (min-width: $lg) {
            order: 0;
            display: flex;
            align-items: center;
            height: $gradient-breakpoint-desktop;
            padding-top: 0;
        }
    }
    &__logo-link {
        display: block;
        height: 40px;
        overflow: hidden;
        @media (min-width: $sm) {
            height: 30px;
        }
        @media (min-width: $lg) {
            height: auto;
        }
    }
    &__logo-img-mob {
        display: inline;
        width: 30px;
        height: 30px;
        @media (min-width: $sm) {
            display: none;
        }
    }
    &__logo-img {
        display: none;
        @media (min-width: $sm) {
            display: inline;
            width: 160px;
        }
    }
//обертка основного контента
    &__content-wrapper {
        position: fixed;
        top: $gradient-breakpoint-mobile;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        display: block;
        background: $white;
        border-top: 1px solid $border-color;
        @media (min-width: $lg) {
            flex-grow: 1;
            position: static;
            height: $gradient-breakpoint-desktop;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            overflow: visible;
        }
    }
//маленький пункт на мобиле
    &__add-nav {
        @include order-reset();
        height: $mobile-header-nav-item-height;
        @media (min-width: $lg) {
            display: none;
        }
    }

    &__add-nav-item {
        height: 100%;
        font-family: $font;
        font-size: 16px;
        font-weight: 600;
        color: $white;
    }

    &__add-nav-link {
        position: relative;
        display: block;
        height: 100%;
        padding: 10px $grid-padding 0 $grid-padding;
        background: $blue;
    }

    &__add-nav-link::before {
        @include pseudo();
        top: 15px;
        right: 20px;
        width: 10px;
        height: 10px;
        border: 2px solid $white;
        border-left: none;
        border-bottom: none;
        transform: rotate(45deg);
    }
//блок инфо
    &__info {
        display: none;
        @media (min-width: $xl) {
            display: block;
        }
    }
//дополнительная навигация (синии кнопки)
    &__extra-nav {
        @include order-reset();
        width: 100%;
        font-size: 0;
        @media (min-width: $lg) {
            width: 250px;//временно
        }
    }

    &__extra-nav-item {
        display: inline-block;
        width: 50%;

        font-family: $font;
        font-size: 16px;
        font-weight: 600;
        line-height: $gradient-breakpoint-mobile-end;
        text-align: center;
        color: $white;
    }

    &__extra-nav-item--toggler {
        border-right: 1px solid $dark-blue;
        svg {
            display: none;
        }
        @media (min-width: $lg) {
            width: 27px;
            height: 23px;
            font-size: 0;
            svg {
                display: block;
                width: 100%;
                height: 100%;
                fill: $white;
            }
        }
    }

    &__extra-nav-item--hide-lg {
        border-left: 1px solid $dark-blue;
        @media (min-width: $lg) {
            display: none;
        }
    }

    &__extra-nav-item--hide-mob {
        display: none;
        @media (min-width: $lg) {
            display: inline-block;
        }
    }

    &__extra-nav-link {
        display: block;
        width: 100%;
        height: 100%;
    }
}