.join {
    display: none;
    font-family: $font;
    position: fixed;
    z-index: 100;
    @include full-absolute();
    top: $gradient-breakpoint-mobile + $gradient-breakpoint-mobile-end;
    overflow: auto;
    background: $white;
    @media (min-width: $md) {
        top: $gradient-breakpoint-desktop + $gradient-breakpoint-mobile-end;
    }
    @media (min-width: $lg) {
        display: none;
    }

    &.opened {
        display: block;
        @media (min-width: $lg) {
            display: none;
        }
    }

    &__container {

    }

    &__list {
        @include order-reset();
    }

    &__item {
        min-height: $mobile-header-nav-item-height;
        display: flex;
        font-family: $font;
        font-size: 16px;
        font-weight: 600;
        color: $extra-text-color;
    }

    &__title {
        @include nav-title-block();
        padding-top: 30px;
        font-family: $font;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.8px;
        color: $add-text-color;
        @media (min-width: $lg) {
            display: none;
        }
    }

    &__item-link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 $grid-padding;
        background: $white;
        border-bottom: 1px solid $border-color;
        transition: 0.3s ease;
        svg {
            flex-shrink: 0;
            fill: $border-color;
            transform: rotate(-90deg);
            transition: 0.3s ease;
        }
        @media (min-width: $lg) {
            border-bottom: none;
            svg {
                display: none;
            }
        }
    }

    &__item-link:hover {
        color: $blue;
        span {
            opacity: 0.7;
        }
        svg {
            fill: $blue;
        }
    }
    .compare-and-favorite:empty {
        display: none;
    }
    .compare-and-favorite {
        display: block;
        width: $join-comapre-and-favorite-icon-height;
        height: $join-comapre-and-favorite-icon-height;
        border-radius: 50%;
        background: $red;
        margin-left: auto;
        margin-right: 10px;
        transition: 0.3s ease;
        color: $white;
        font-size: 12px;
        font-weight: 400;
        line-height: $join-comapre-and-favorite-icon-height;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}