.main {
    overflow: hidden;
    margin-top: $mobile-header-height;
    padding-top: 20px;
    font-family: $font;
    @media (min-width: $md) {
        margin-top: $gradient-breakpoint-desktop + $gradient-breakpoint-mobile-end;
    }
    @media (min-width: $lg) {
        margin-top: $gradient-breakpoint-desktop + $gradient-breakpoint-desktop-end;
        padding-top: 30px;
    }

    &--no-padding {
        padding-top: 0;
    }

    &__container {
        @include container();
    }

    &__title {
        margin: 0;
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 400;
        line-height: 1.32;
        text-align: left;
        color: $extra-text-color;
        @media (min-width: $lg) {
            margin-bottom: 30px;
        }
    }

    &__advantages {
        order: 1;
        @media (min-width: $lg) {
            order: 0;
        }
    }

    &__main-catalog {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-top: $common-block-vertical-padding;
    }

    &__goods-sliders {
        position: relative;
        width: 100%;
    }

    &__goods-sliders::after {
        @media (min-width: $lg) {
            @include pseudo();
            top: 0;
            left: 50%;
            bottom: 0;
            width: 100vw;
            transform: translateX(-50%);
            background: $goods-sliders-background;
            z-index: -1;
        }
    }



    .communication-over,
    .city-pick-over
     {
        display: none;
    }
}