.main {
    overflow: hidden;
    margin-top: $mobile-header-height;
    @media (min-width: $md) {
        margin-top: $gradient-breakpoint-desktop + $gradient-breakpoint-mobile-end;
    }
    @media (min-width: $lg) {
        margin-top: $gradient-breakpoint-desktop + $gradient-breakpoint-desktop-end;
    }

    &__container {
        @include container();
    }

    &--advantages {
        order: 1;
        @media (min-width: $lg) {
            order: 0;
        }
    }

    &--main-catalog {
        display: flex;
        flex-wrap: wrap;
        padding-top: $common-block-vertical-padding;
    }

    &--goods-sliders {
        position: relative;
        width: 100%;
    }

    &--goods-sliders::after {
        @media (min-width: $lg) {
            @include pseudo();
            top: 0;
            left: 50%;
            bottom: 0;
            width: 100vw;
            transform: translateX(-50%);
            background: $goods-sliders-background;
            z-index: -1;
        }
    }



    .communication-over,
    .city-pick-over
     {
        display: none;
    }
}