.news {
    padding-bottom: 30px;
    font-family: $font;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
    }

    &__title {
        @include field-reset();
        font-size: 25px;
        font-weight: 400;
        line-height: 1.32;
        color: $extra-text-color;
    }

    &__btn {
        min-width: 105px;
    }

    &__list {
        @include order-reset();
        padding: 0;
        margin: 0 -7.5px;
        display: flex;
    }

    &__container {
        padding-bottom: 15px;
        @media (min-width: $lg) {
            padding-bottom: 0;
        }
    }

    &__container:last-child {
        padding-bottom: 0;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15px;
        border: 1px solid $border-color;
        margin-bottom: 15px;
        background: $white;
        @media (min-width: $lg) {
            height: 256px;
        }
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__item-title {
        display: block;
        order: 1;
        max-height: 25px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.39;
        color: $extra-text-color;
        @media (min-width: $lg) {
            max-height: 130px;
            font-size: 24px;

            white-space: normal;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
    }

    &__date {
        @include field-reset();
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.36;
        color: $main-color;
        svg {
            fill: $blue;
            margin-right: 10px;
        }
    }

    &__view {
        display: none;
        @media (min-width: $lg) {
            order: 2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: auto;
        }
    }

    &__btn-view {
        display: inline-block;
        vertical-align: top;
        height: 40px;
        padding: 0 20px;
        line-height: 40px;
        color: $add-btn-color;
        border-color: $border-color;
    }

    &__icon {
        svg {
            vertical-align: middle;
            margin-right: 3px;
            fill: $blue;
            width: 20px;
            height: 15px;
        }
        span {
            vertical-align: middle;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.36;
            color: $main-color;
        }
    }
}