.profile {
    display: none;
    font-family: $font;
    position: fixed;
    z-index: 1000;
    @include full-absolute();
    top: $gradient-breakpoint-mobile + $gradient-breakpoint-mobile-end;
    overflow-y: auto;
    overflow-x: hidden;
    background: $white;
    @media (min-width: $md) {
        top: $gradient-breakpoint-desktop + $gradient-breakpoint-mobile-end;
    }
    @media (min-width: $lg) {
        top: 0;
        background-color: transparentize($black, 0.5);
    }

    &.opened {
        display: block;
        .js-profile-item.active {
            display: block;
        }
    }

    &__wrapper {
        @media (min-width: $lg) {
            padding-top: 20px;
            max-height: 100vh;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 475px;
            margin: 0 auto;
        }
    }

    &__container {
        padding: $grid-padding;
        background: $white;
        @media (min-width: $lg) {
            overflow: auto;
            margin-bottom: 20px;
            border-radius: 5px;
            padding: $grid-padding;
            background: $white;
        }
    }
//меню табов
    &__top-line {
        display: none;
        @media (min-width: $lg) {
            display: flex;
            min-height: 40px;
            margin: 0 (-$grid-padding);
            position: relative;
            border-bottom: 1px solid $border-color;
            padding: 0 $grid-padding;
        }
    }

    &__tab {
        position: relative;
        width: 50%;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        color: $main-color;
        background: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        @media (min-width: $lg) {
            width: auto;
            padding: 5px 15px 20px;
        }
    }

    &__tab.active-btn::before {
        @include pseudo();
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 3px;
        background: $blue;
    }

    &__tab.active-btn{
        cursor: auto;
        pointer-events: none;
    }

    &__close {
        display: none;
        @media (min-width: $lg) {
            padding: 0;
            padding-right: $grid-padding + 5px;
            position: absolute;
            right: 0;
            top: -$grid-padding;
            bottom: 0;
            display: block;
            width: 80px;
            background: transparent;
            border: none;
            outline: none;
            font-size: 0;
            text-align: right;
            cursor: pointer;
            svg {
                fill: $add-text-color;
            }
        }
    }
//блок входа в личный кабинет
    &__join {
        padding-top: 15px;
        display: none;
    }

    &__title {
        @include field-reset();
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 400;
        color: $extra-text-color;
        @media (min-width: $lg) {
            display: none;
        }
    }

    &__text {
        @include field-reset();
        margin-bottom: 20px;
        font-size: 16px;
        color: $communication-add-color;
    }

    &__join-form {
        margin: 0 (-$grid-padding);
        padding: 0 $grid-padding 20px $grid-padding;
        border-bottom: 1px solid $border-color;
    }

    &__label {
        position: relative;
        display: block;
        padding-bottom: $profile-input-padding-botom;
        .error-message,
        .input-icon {
            display: none;
        }
    }

    &__input {
        @include placeholder {
          color: $communication-add-color;
        }
        @include placeholder-f {
          color: transparent;
        }
        width: 100%;
        height: $common-item-height;
        padding: 0 10px;
        border: 1px solid $border-color;
        border-radius: 5px;
        line-height: $common-item-height;
        outline: none;
        transition: 0.3s ease;
        outline: none;
        box-shadow: none;
    }

    &__input:hover,
    &__input:focus {
        border-color: $blue;
    }

    &__switch-join {
        display: flex;
        align-items: center;
        margin-right: 20px;
        margin-bottom: 20px;
        span {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.31;
            color: $communication-add-color;
        }
    }

    &__btn-block {
        display: flex;
        flex-wrap: wrap;
        @media (min-width: $sm) {
            flex-wrap: nowrap;
        }
    }

    &__btn {
        margin-bottom: 15px;
        font-size: 16px;
        width: 100%;
        height: auto;
        min-height: $add-btn-height;
        line-height: $add-btn-height;
        @media (min-width: $sm) {
            margin-bottom: 0;
            margin-right: 5px;
            width: 50%;
        }
    }

    &__btn:last-child {
        margin-bottom: 0;
        @media (min-width: $sm) {
            margin-right: 0;
            margin-left: 5px;
        }
    }

    &__switch-item {
        margin-right: 15px;
    }

    &__social {
        p {
            @include field-reset();
            margin-bottom: 15px;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.33;
            color: $main-color;
        }
        @media (min-width: $lg) {
            padding-top: 15px;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    &__social-list {
        @include order-reset();
    }

    &__social-item {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        width: $join-by-social-height;
        height: $join-by-social-height;
        border-radius: 5px;
        a {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            line-height: $join-by-social-height;
        }
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill: $white;
        }
    }

    &__social-item:last-child {
        margin-right: 0;
    }

    &__social-item--vk {
        background: $vk-color;
        svg {
            width: 21px;
            height: 12px;
        }

    }

    &__social-item--fb {
        background: $fb-color;
        svg {
            width: 9px;
            height: 21px;
        }
    }

    &__social-item--mail {
        background: $mail-color;
        svg {
            width: 23px;
            height: 23px;
        }
    }

    &__to-registry {
        margin: 0 (-$grid-padding);
        margin-bottom: 15px;
        padding: 15px $grid-padding 15px $grid-padding;
        border-bottom: 1px solid $border-color;
        @media (min-width: $lg) {
            display: none;
        }
    }

    &__registry-btn {
        width: 100%;
        font-size: 16px;
    }
//блок регистрации
    &__registry {
        display: none;
        padding-top: 15px;
    }

    &__advantages {
        @include order-reset();
        padding-bottom: 20px;
    }

    &__advantages-item {
        position: relative;
        padding-bottom: 10px;
        padding-left: 30px;
        font-size: 16px;
        line-height: 1.40;
        color: $communication-add-color;
    }

    &__advantages-item::before {
        @include pseudo();
        content: "+";
        top: -5px;
        left: 0;
        width: 25px;
        height: 25px;
        color: $green;
        font-size: 25px;
        text-align: center;
        line-height: 25px;
    }

    &__advantages-item:last-child {
        padding-bottom: 0;
    }

    &__switch-registry {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        a {
            font-weight: 400;
            line-height: 1.31;
            color: $communication-add-color;
            font-size: 13px;
            font-weight: 600;
            text-decoration: underline;
            transition: 0.3s ease;
        }
        a:hover {
            color: $blue;
        }
    }

    &__reg-btn {
        min-height: $common-item-height;
        font-size: 16px;
        width: 100%;
        margin-bottom: 15px;
    }

    &__reg-btn.disabled {
        pointer-events: none;
        opacity: 0.7;
    }

    &__reg-btn:last-child {
        margin-bottom: 0;
        @media (min-width: $lg) {
            display: none;
        }
    }

    &__reg-btn:nth-last-child(2) {
        @media (min-width: $lg) {
            margin-bottom: 0;
        }
    }
//валидация формы
    &__label.invalid {
        .profile__input {
            border-color: $red;
        }
        .error-message {
            display: block;
            position: absolute;
            overflow: hidden;
            height: $profile-input-padding-botom;
            position: absolute;
            left: 10px;
            bottom: 0;
            font-size: 12px;
            line-height: $profile-input-padding-botom - 5px;
            font-weight: 400;
            color: $red;
        }
        .input-icon {
            display: block;
            position: absolute;
            top: 11px;
            left: auto;
            bottom: auto;
            right: 13px;
            transform: none;
            overflow: hidden;
            width: 17px;
            height: 17px;
            border: 1px solid $red;
            border-radius: 50%;
        }
        .input-icon::before {
            display: block;
            background: $white;
            width: 100%;
            height: 100%;
            content: "!";
            font-size: 10px;
            line-height: 15px;
            color: $red;
            text-align: center;

        }
    }

    &__label.valid {
        .profile__input {
            border-color: $green;
        }
        .error-message {
            display: none;
        }
        .input-icon {
            display: block;
            position: absolute;
            font-size: 0;
            top: 20%;
            left: auto;
            bottom: auto;
            right: 13px;
            transform: rotate(135deg);
            width: 15px;
            height: 8px;
            border: 2px solid $green;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
    }
}