.search {
    display: none;
    position: fixed;
    z-index: 100;
    @include full-absolute();
    top: $gradient-breakpoint-mobile + $gradient-breakpoint-mobile-end;
    overflow: auto;
    background: $white;
    font-family: $font;
    @media (min-width: $md) {
        top: $gradient-breakpoint-desktop + $gradient-breakpoint-mobile-end;
    }
    @media (min-width: $lg) {
        top: $gradient-breakpoint-desktop + $gradient-breakpoint-desktop-end;
    }
    @media (min-width: $lg) {
        overflow: visible;
        position: static;
        z-index: auto;
        flex-grow: 1;
        padding: 0;
        width: auto;
        display: block;
        background: transparent;
        height: $gradient-breakpoint-desktop-end;
        padding-right: 30px;
    }

    &.opened {
        display: block;
        @media (min-width: $lg) {
            position: static;
            flex-grow: 1;
            padding: 0;
            width: auto;
            display: block;
            height: $gradient-breakpoint-desktop-end;
            padding-right: 30px;
        }
    }

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        padding: 20px $grid-padding;
        @media (min-width: $lg) {
            padding: 0;
            justify-content: center;
        }
    }

    &__form {
        @media (min-width: $lg) {
            display: flex;
            align-items: center;
        }
    }

    &__input {
        width: 100%;
        height: $mobile-search-item-height;
        padding: 5px 20px;
        margin-bottom: 20px;
        line-height: 1.15;
        font-size: 14px;
        font-weight: 400;
        color: $extra-text-color;
        outline: none;
        border: 1px solid $border-color;
        border-radius: 5px;
        @media (min-width: $lg) {
            flex-grow: 1;
            margin-bottom: 0;
            border: none;
            border-radius: 0;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }

    &__btn {
        display: block;
        height: $mobile-search-item-height;
        line-height: $mobile-search-item-height;
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        color: $white;
        background: $black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s background ease;
        @media (min-width: $lg) {
            width: 100px;
            border: none;
            border-radius: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    &__btn:hover {
        background: lighten($black, 20%);
    }
//Результат поиска
    &__result {
        position: relative;
        width: 100%;
        background: $white;
    }

     &__result-list {
        @include order-reset();
        padding: 20px 0;
        width: 100%;
        background: $white;

        font-size: 14px;
        font-weight: 400;
        line-height: 1.36;
        color: $main-color;
        li {
            padding: 5px 20px;
        }
        @media (min-width: $lg) {
            padding: 5px 0;
            max-height: 300px;
            overflow-y: auto;
            overflow-x: hidden;
            position: absolute;
            z-index: 100;
            top: 0;
            left: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
            li {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    &__container {
        .search__result {
            display: none;
        }
    }

    &__container.active {
        .search__result {
            display: block;
        }
        .search__input {
            @media (min-width: $lg) {
                border-bottom-left-radius: 0;
                border-bottom: 1px solid $border-color;
            }
        }
        .search__btn {
            @media (min-width: $lg) {
                border-bottom-right-radius: 0;
            }
        }
    }
}