.search {
    display: none;
    @media (min-width: $lg) {
        flex-grow: 1;
        padding: 0;
        width: auto;
        display: block;
        height: $gradient-breakpoint-desktop-end;
        padding-right: 30px;
    }

    &__container {
        height: 100%;
    }

    &__form {
        display: flex;
        height: 100%;
        align-items: center;
    }

    &__input {
        flex-grow: 1;
        height: $mobile-search-item-height;
        padding: 5px 20px;
        line-height: 1.15;
        font-family: $font;
        font-size: 14px;
        font-weight: 400;
        color: $extra-text-color;
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    &__btn {
        display: block;
        vertical-align: top;
        height: $mobile-search-item-height;
        line-height: $mobile-search-item-height;
        width: 100px;
        font-size: 14px;
        font-weight: 600;
        color: $white;
        background: $black;
        border: none;
        border-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
    }
}