.subscription {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    font-family: $font;
    @media (min-width: $xl) {
        width: 66.66667%;
        flex-wrap: nowrap;
    }

    &__mail-input {
        display: flex;
        width: 100%;
        padding-bottom: 15px;
        @media (min-width: $md) {
            width: 50%;
            padding-bottom: 0;
            padding-right: 7.5px;
        }
        @media (min-width: $lg) {
            width: 100%;
            padding-bottom: 15px;
            padding-right: 0;
        }
        @media (min-width: $xl) {
            padding-bottom: 0;
            margin-right: 15px;
        }
    }

    &__input {
        display: block;
        flex-grow: 1;
        height: $common-item-height;
        padding: 0 10px;
        line-height: $common-item-height;
        font-size: 14px;
        font-weight: 400;
        color: $extra-text-color;

        background: $white;
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none;
        transition: 0.3s ease;
    }

    &__input.disabled {
        pointer-events: none;
        opacity: 0.7;
    }

    &__btn {
        position: relative;
        display: block;
        padding: 0 10px;
        height: $common-item-height;
        background: $yellow;
        border: none;

        font-size: 14px;
        font-weight: 600;
        line-height: $common-item-height;
        text-align: left;
        color: $main-color;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        outline: none;
        cursor: pointer;
        transition: 0.2s background ease;
    }

    &__btn.disabled {
        pointer-events: none;
        background: $communication-add-color;
    }

    &__btn:hover {
        background: lighten($yellow, 10%);
    }

    &__confirm {
        display: flex;
        width: 100%;
        @media (min-width: $md) {
            width: 50%;
            padding-left: 7.5px;
        }
        @media (min-width: $lg) {
            width: 100%;
            padding-left: 0;
        }
    }

    &__switch {
        margin-right: 15px;
    }

    &__link {
        display: flex;
        align-items: center;
        height: $swith-height;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.33;
        text-align: left;
        color: $white;
        text-decoration: underline;
    }
}