.switch {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    position: relative;
    width: $swith-width;
    height: $swith-height;
    border-radius: $swith-height;

    &__input,
    &__label {
        position: absolute;
        left: 0;
        top: 0;
    }

    &__input {
        @include field-reset();
        height: 0;
        width: 0;
        opacity: 0;
        pointer-events: none;
    }

    &__input:checked + .switch__label {
        background-color: $green;
    }

    &__input:checked + .switch__label + .switch__marker {
        left: calc(100% - #{$swith-height} + #{$switch-marker-indent});
    }

    &__label {
        z-index: 1;
        width: 100%;
        height: 100%;
        color: transparent;
        user-select: none;
        background-color: $add-text-color;
        border-radius: inherit;
        transition: background 0.2s ease;
    }

    &__marker {
        position: relative;
        z-index: 2;
        left: $switch-marker-indent;
        width: $swith-height - $switch-marker-indent * 2;
        height: $swith-height - $switch-marker-indent * 2;
        border-radius: 50%;
        background: $white;
        pointer-events: none;
        transition: left 0.2s ease;
    }
}