.search-result {
    padding-bottom: 30px;

    &__add-sort {
        margin-bottom: 10px;
    }

    &__container {}

//Список товаров
    &__products-list {
        @include order-reset();
        margin-bottom: 20px;
        @media (min-width: $lg) {
            margin-bottom: 35px;
        }
    }

    &__products-item {
        margin-bottom: 15px;
        @media (min-width: $lg) {
            margin-bottom: 0;
        }
    }

    &__products-item:last-child {
        margin-bottom: 0;
    }

    &__btn {
        width: 100%;
        margin-bottom: 20px;
        @media (min-width: $lg) {
            margin-bottom: 35px;
        }
    }

//Блок статей
    &__articles-list {
        @include order-reset();
        margin: 0 -7.5px;
    }

    &__articles-item {
        margin-bottom: 20px;
    }

//Блок новостей


//Блок пагинации
    &__pagination {
        width: 100%;
    }
}

//list-style карточки
.list-style {
    @media (min-width: $lg) {
        .search-result__products-item {
            flex-basis: 100%;
            max-width: 100%;
            height: $list-style-catalog-product-min-height;
        }

        .catalog-product {
            outline: none;
            border-bottom: 1px solid $border-color;
        }

        .catalog-product__container {
            justify-content: center;
            height: 100%;
            padding: $list-style-catalog-product-padding;
            padding-left: $list-style-catalog-product-padding-left;
            padding-right: calc(#{$list-style-catalog-product-right-content-width} + #{$list-style-catalog-product-padding-right});
        }

        .catalog-product__features {
            flex-direction: row;
            position: static;
            padding: 0;
            padding-bottom: 5px;
        }

        .catalog-product__features-item {
            margin-bottom: 0;
        }

        .catalog-product__available {
            position: static;
            padding: 0;
            padding-bottom: 5px;
            p {
                display: inline-block;
                vertical-align: top;
                padding-right: 6px;
                padding-left: 6px;
                font-size: 12px;
            }
        }

        .catalog-product__action {
            padding: 0;
            right: $list-style-catalog-product-padding;
            top: 50%;
            transform: translateY(-50%);
        }

        .catalog-product__img {
            position: absolute;
            top: 0;
            left: 0;
            width: $list-style-catalog-product-padding-left;
            height: 100%;
            padding: $list-style-catalog-product-padding;
            padding-right: 15px;
            display: flex;
            align-items: center;
            img {
                max-height: 100%;
                width: 100%;
            }
        }

        .catalog-product__name {
            order: 1;
            height: auto;
            max-height: 50px;
            margin-bottom: 10px;
            font-size: 16px;
        }

        .catalog-product__response {
            order: 1;
        }

        .catalog-product__properties {
            order: 1;
            margin-bottom: 0;

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
//блок цен
        .catalog-product__price {
            position: absolute;
            right: $list-style-catalog-product-padding + 36px;
            top: 50%;
            width: $list-style-catalog-product-right-content-width;
            padding: 0;
            padding-right: $list-style-catalog-product-padding;
            transform: translateY(-50%);
        }

        .catalog-product__current-price {
            display: flex;
        }

        .catalog-product__cart {
            flex-grow: 1;
            flex-shrink: 1;
        }

        .catalog-product__goods-incoming {
            flex-grow: 1;
            flex-shrink: 1;
            font-size: 0;
            svg {
                display: inline;
            }
        }

        .catalog-product__current-value {
            flex-shrink: 0;
            width: 115px;
            font-size: 20px;
        }
//показываем если если list-style
        .catalog-product__available ~ .catalog-product__price {
            .catalog-product__current-value {
                display: inline-block;
            }
        }
//----------
        .catalog-product__old-price {
            top: -$catalog-product-old-price-size;
        }
    }

//если карточка сертификата
    .catalog-product__certificate-container {
        @media (min-width: $lg) {
            height: 100%;
            padding: $grid-padding;
            padding-left: $list-style-catalog-product-certificate-padding-left;
            padding-right: calc(#{$list-style-catalog-product-right-content-width} + #{$list-style-catalog-product-padding-right});
            .catalog-product__img {
                padding: $grid-padding;
                width: $list-style-catalog-product-certificate-padding-left - 10px;
            }
        }

        .catalog-product__name {
            margin-bottom: 0;
        }
    }
}